
<div class="container mt-5 pt-5">
  <div class="row">
    <div class="col-md-4 offset-md-4 text-center">
      <div class="card bg-light text-dark p-4">
      
        <h1 class="mb-4">Iniciar Sesión</h1>
        <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
          <div class="alert alert-danger" [hidden]="!error">
            {{ error }}
          </div>
      
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="material-icons">person</i><label for="inputEmail3" style="margin-bottom:0rem">Usuario: </label>
              </span>
              
            </div>
            <div class="w-100">
                <input type="email" pInputText name="email" class="form-control" id="inputEmail3" placeholder="usuario@sitsa.com"
                [(ngModel)]="usuario.Correo_Electronico" required />
            </div>
            
          </div>

          <div class="input-group mb-3 ">
            <div class="input-group-prepend">
              <span class="input-group-text">
                  <i class="material-icons">vpn_key</i><label for="inputPassword3" style="margin-bottom:0rem">Contraseña: </label>
              </span>
            </div>
            <div class="w-100">
                <input type="password" pInputText name="password" class="form-control" id="inputPassword3" placeholder="*****"
              [(ngModel)]="usuario.Contrasenna" required />
            </div>
            
          </div>

          <p-messages [(value)]="message"></p-messages>

          <ng-container> </ng-container>

          <div class="row">
            <div class="col-md-6 offset-3">
              <button id="loginButton" type="submit" class="btn btn-raised btn-info btn-labeled form-control" [disabled]="!loginForm.valid">
                <div *ngIf="!_loadingLogin">
                  <i class="fa fa-sign-in" aria-hidden="true"></i> Ingresar
                </div>
              </button>
            </div>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>
<div>
  <button data-toggle="modal" data-target="#modalMessage" title="Ayuda" style="float: right !important;right: 1em !important;" type="button" class="btn btn-info bmd-btn-fab"  >
    <i class="material-icons">live_help</i>
  </button>
</div>
<div class="modal fade" id="modalMessage" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalTitle">Ayuda</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="alert alert-info" role="alert">
              ¿Desea descargar el manual de usuario?.
            </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-raised btn-warning" data-dismiss="modal"><i class="material-icons">close</i>Cerrar</button>
        <a target="_self" href="../../assets/files/ManualUsuario.pdf" download class="btn btn-raised btn-success m-1">
          <i class="material-icons">file_download</i>descargar
        </a>
      </div>
    </div>
  </div>
</div>