<p-toast [style]="{marginTop: '80px'}" life="3000"></p-toast>
<div class="container pt-5">
    <h1>Proyectos</h1>
    <div class="row">
        <div class="col-md-4">
            <label class="">Desde: &nbsp;</label><br>
            <p-calendar name="inicio" [(ngModel)]="dates.begin" [showIcon]="true" #inicio="ngModel" required></p-calendar>
            <div *ngIf="!inicio.valid" class="alert alert-danger">
                Necesita seleccionar una hora inicial...
            </div>
        </div>
        <div class="col-md-4">
    
            <label class="">Hasta: &nbsp;</label><br>
            <p-calendar name="fin" [(ngModel)]="dates.end" [showIcon]="true" #fin="ngModel" required></p-calendar>
            <div *ngIf="!fin.valid" class="alert alert-danger">
                Necesita seleccinar una hora final...
            </div>
        </div>
        <ng-container *ngIf="inicio.valid && fin.valid">
            <div class="mt-4 col-md-4">
                <button type="button" (click)="GetProyectosPorFecha();" class="btn btn-primary">Filtro de Fecha</button>
            </div>
        </ng-container>
    </div>
    
    <div class="row ">
        
        <ng-container *ngFor="let permiso of misPermisos">
            <div *ngIf="permiso.Descripcion_Seccion === 'Agregar' && permiso.Estado === 'A' " class="col-md-12 m-1">
                <button type="button" class="btn btn-raised btn-info" data-toggle="modal" data-target="#createModal">
                    <i class="material-icons">note_add</i>Agregar
                </button>
            </div>
        </ng-container>

        

        <ng-container *ngFor="let permiso of misPermisos">
            <div *ngIf="permiso.Descripcion_Seccion === 'Lista' && permiso.Estado === 'A' " class="col-md-12">
                <p-table #dt [columns]="cols" [(value)]="proyectos" [paginator]="true" [rows]="6" [responsive]="true">
                    <ng-template pTemplate="caption">
                        <div class="ui-helper-clearfix" style="text-align: left">
                            <button type="button" pButton icon="pi pi-file-excel" iconPos="left" label="EXCEL" (click)="exportExcel(dt)" style="margin-right: 0.5em;" class="ui-button-success"></button>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr>
                            <th style="font-size: 80%" *ngFor="let col of cols">
                                {{col.header}}
                            </th>
                        </tr>
                        <tr>
                            <th *ngFor="let col of cols" [ngSwitch]="col.field" colspan=1>
                                <input *ngSwitchCase="'ID'" class="form-control text-success" placeholder="Identificación" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains');">
                                <input *ngSwitchCase="'Descripcion'" class="form-control text-success" placeholder="Descripción" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains');">
                                <input *ngSwitchCase="'Cliente'" class="form-control text-success" placeholder="Cliente" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains');">
                                <div class="ui-grid ui-grid-responsive ui-fluid">
                                    <div class="ui-grid-row">
                                        <div class="ui-grid-col-12">
                                            <p-dropdown *ngSwitchCase="'Estado'" [options]="Estados" [style]="{'width':'100%'}" (onChange)="dt.filter($event.value, col.field, 'equals');"></p-dropdown>
                                        </div>
                                    </div>
                                </div>
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-pro>
                        <tr>
                            <td> <span class="ui-column-title">ID</span> {{pro.ID}}</td>
                            <td><span class="ui-column-title">Fecha</span>{{pro.Fecha_Creacion | date:'dd/MM/yyy HH:mm:ss'}}</td>
                            <td> <span class="ui-column-title">Descripción</span> {{pro.Descripcion}}</td>
                            <td> <span class="ui-column-title">Cliente</span> {{pro.Cliente}}</td>
                            <td> <span class="ui-column-title">Horas Invertidas</span> {{pro.Horas_Invertidas | horas}}</td>
                            <td> <span class="ui-column-title">Monto Total</span> {{pro.Monto_Total | number}}</td>
                            <td> <span class="ui-column-title">Estado</span> {{pro.Estado}}</td>
                            <ng-container *ngFor="let permiso2 of misPermisos">
                                <ng-container *ngIf="permiso2.Descripcion_Seccion === 'Editar' && permiso2.Estado === 'A' ">
                                    <td><button type="button" (click)="onButtonEditClick(pro)" class="btn btn-raised btn-warning" data-toggle="modal" data-target="#editModal"><i class="material-icons">edit</i>Editar</button></td>
                                </ng-container>
                            </ng-container>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </ng-container>

        <div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modal-title">Agregar Proyecto</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                    </div>
                    <form #ProyectoAddForm="ngForm" (ngSubmit)="onSubmit()" autocomplete="off">
                        <div class="modal-body">

                            <div class="form-group">
                                <ng-container *ngIf="clientes">
                                    <label>Cliente</label>
                                    <br>
                                    <div class="ui-grid ui-grid-responsive ui-fluid">
                                        <div class="ui-grid-row">
                                            <div class="ui-grid-col-6">
                                                <p-dropdown id="clientes" [options]="clientes" [(ngModel)]="selectedCliente" placeholder="Seleccione un cliente" optionLabel="Cliente" name="clients" [showClear]="true" filter="true" required></p-dropdown>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <ng-container *ngIf="!selectedCliente">
                                        <p-message severity="error" text="El campo es requerido"></p-message>
                                    </ng-container>
                                </ng-container>
                            </div>

                            <div class="form-group">
                                <label for="descripcion">Descripción</label>
                                <br>
                                <input id="descripcion" type="text" size="30" pInputText [(ngModel)]="proyecto.Descripcion" name="descripcion" #descripcion="ngModel" required>
                                <ng-container *ngIf="!descripcion.valid">
                                    <p-message severity="error" text="El campo es requerido"></p-message>
                                </ng-container>

                            </div>

                            <div class="form-group">
                                <label for="hEstimadas">Horas estimadas</label>
                                <br>
                                <input id="hEstimadas" type="number" size="30" pInputText [(ngModel)]="proyecto.Horas_Estimadas" name="hEstimadas" #hEstimadas="ngModel" required>
                                <ng-container *ngIf="!hEstimadas.valid">
                                    <p-message severity="error" text="El campo es requerido"></p-message>
                                </ng-container>

                            </div>

                            <div class="form-group">
                                <label for="total">Monto Total</label>
                                <br>
                                <input id="total" type="number" size="30" pInputText [(ngModel)]="proyecto.Monto_Total" name="total" #total="ngModel" required>
                                <ng-container *ngIf="!total.valid">
                                    <p-message severity="error" text="El campo es requerido"></p-message>
                                </ng-container>

                            </div>

                            <div class="form-group">
                                <label for="estado">Estado</label>
                                <select class="form-control" id="estado" [(ngModel)]="proyecto.Estado" name="estado">
                                    <option value="A">Activo</option>
                                    <option value="I">Inactivo</option>
                                </select>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-raised btn-warning m-1" data-dismiss="modal">
                                <i class="material-icons">close</i>Cerrar
                            </button>

                            <ng-container *ngIf="ProyectoAddForm.form.valid">
                                <button type="submit" (click)="onSubmit();" class="btn btn-raised btn-success m-1" data-dismiss="modal">
                                    <i class="material-icons">save</i>Guardar Cambios
                                </button>
                            </ng-container>

                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="modal-title">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modal-title">Editar tarea estandar</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                    </div>
                    <form #EditProForm="ngForm" (ngSubmit)="onSubmitEdit()" autocomplete="off">
                        <div class="modal-body">

                            <div class="form-group">
                                <label for="descripcion">Descripción</label>
                                <br>
                                <input *ngIf="selectedProyecto" id="descripcion" type="text" size="30" pInputText [(ngModel)]="selectedProyecto.Descripcion" name="descripcionE" #descripcionE="ngModel" required>
                                <ng-container *ngIf="descripcionE && !descripcionE.valid">
                                    <p-message severity="error" text="El campo es requerido"></p-message>
                                </ng-container>

                            </div>

                            <div class="form-group">
                                <label for="hEstimadas">Horas estimadas</label>
                                <br>
                                <input *ngIf="selectedProyecto" id="hEstimadas" type="number" size="30" pInputText [(ngModel)]="selectedProyecto.Horas_Estimadas" name="hEstimadasE" #hEstimadasE="ngModel" required>
                                <ng-container *ngIf="hEstimadasE && !hEstimadasE.valid">
                                    <p-message severity="error" text="El campo es requerido"></p-message>
                                </ng-container>

                            </div>

                            <div class="form-group">
                                <label for="total">Monto Total</label>
                                <br>
                                <input *ngIf="selectedProyecto" id="total" type="number" size="30" pInputText [(ngModel)]="selectedProyecto.Monto_Total" name="totalE" #totalE="ngModel" required>
                                <ng-container *ngIf="totalE && !totalE.valid">
                                    <p-message severity="error" text="El campo es requerido"></p-message>
                                </ng-container>

                            </div>

                            <div class="form-group">
                                <label for="estado">Estado</label>
                                <select *ngIf="selectedProyecto" class="form-control" id="estado" [(ngModel)]="selectedProyecto.Estado" name="estado">
                                    <option value="A">Activo</option>
                                    <option value="I">Inactivo</option>
                                </select>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-raised btn-warning m-1" data-dismiss="modal">
                                <i class="material-icons">close</i>Cerrar
                            </button>
                            <ng-container *ngIf="EditProForm.form.valid">
                                <button type="submit" (click)="onSubmitEdit();" class="btn btn-raised btn-success m-1" data-dismiss="modal">
                                    <i class="material-icons">save</i>Guardar Cambios
                                </button>
                            </ng-container>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>