<div class="container pt-5">
    <div class="row ">
        <h1>Formulario</h1>
        <div class="col-md-12 m-1">
            <button type="button" class="btn btn-raised btn-info" data-toggle="modal" data-target="#createModal">
                Agregar
            </button>
        </div>

        <div class="col-md-12 table-responsive">
            <table class="table table-striped table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">N°</th>
                        <th scope="col">Cliente</th>
                        <th scope="col">Tipo</th>
                        <th scope="col">Total horas</th>
                        <th scope="col">Horas a facturar</th>
                        <th scope="col">Tarea</th>
                        <th scope="col">Editar</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngIf="reportes">
                        <ng-container *ngFor="let rep of reportes">
                            <tr>
                                <th scope="row">{{rep.ID}}</th>
                                <td>{{rep.Cliente}}</td>
                                <td>{{rep.Descripcion_Tipo_Reporte}}</td>
                                <td>{{rep.Total_Horas}}</td>
                                <td>{{rep.Horas_A_Facturar}}</td>
                                <td>{{rep.Tareas_Estandar}}</td>
                                <td><button type="button" class="btn btn-raised btn-warning" data-toggle="modal" data-target="#editModal">Editar</button></td>
                            </tr>
                        </ng-container>
                    </ng-container>
                </tbody>
            </table>
        </div>
        <!-- <div class="form-group">
            <label for="hInicio">Hora de inicio</label>
            <br>
            <p-calendar id="hInicio" [(ngModel)]="reporte.Hora_Inicio" [timeOnly]="true" name="hInicio" #hora="ngModel" required></p-calendar>
            <button type="button" (click)="prueba(hora.value)">Prueba</button>
            <ng-container *ngIf="!ReporteAddForm.form.valid">
                <br>
                <p-message severity="error" text="El campo es requerido"></p-message>
            </ng-container>
        </div> -->

        <div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modal-title">Agregar Reporte</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                    </div>
                    <form #ReporteAddForm="ngForm" (ngSubmit)="onSubmit()" autocomplete="off">
                        <div class="modal-body">

                            <div class="form-group">
                                <ng-container *ngIf="clientes">
                                    <label>Cliente</label>
                                    <br>
                                    <p-dropdown id="clientes" [options]="clientes" [(ngModel)]="selectedCliente" placeholder="Seleccione un cliente" optionLabel="Cliente" name="clients" [showClear]="true" required></p-dropdown>
                                    <ng-container *ngIf="!selectedCliente">
                                        <p-message severity="error" text="El campo es requerido"></p-message>
                                    </ng-container>
                                </ng-container>
                            </div>

                            <div class="form-group">
                                <ng-container *ngIf="tiposReportes">
                                    <label for="tReports">Tipo de Reporte</label>
                                    <br>
                                    <p-dropdown id="tReports" [options]="tiposReportes" [(ngModel)]="selectedTReporte" placeholder="Seleccione un tipo de Reporte" optionLabel="Descripcion" name="tReports" [showClear]="true" required></p-dropdown>
                                    <ng-container *ngIf="!selectedTReporte">
                                        <p-message severity="error" text="El campo es requerido"></p-message>
                                    </ng-container>
                                </ng-container>
                            </div>

                            <ng-container *ngIf="selectedTReporte">
                                <ng-container *ngIf="selectedTReporte.ID == 1">
                                    <ng-container *ngIf="proyectos">
                                        <label for="porjects">Proyectos</label>
                                        <br>
                                        <p-dropdown id="porjects" [options]="proyectos" [(ngModel)]="selectedProyecto" (onChange)="GetEtapasProyectoActivasPorProyecto(pro.value.ID);" placeholder="Seleccione un cliente" optionLabel="Descripcion" name="porjects" [showClear]="true" #pro="ngModel"
                                            required></p-dropdown>
                                        <ng-container *ngIf="!selectedProyecto">
                                            <p-message severity="error" text="El campo es requerido"></p-message>
                                        </ng-container>
                                    </ng-container>

                                    <ng-container *ngIf="selectedEtapa">
                                        <label for="etaps">Etapas</label>
                                        <br>
                                        <p-dropdown id="etaps" [options]="etapas" [(ngModel)]="selectedEtapa" placeholder="Seleccione un cliente" optionLabel="Descripcion" name="etaps" [showClear]="true" required></p-dropdown>
                                        <ng-container *ngIf="!selectedEtapa">
                                            <p-message severity="error" text="El campo es requerido"></p-message>
                                        </ng-container>
                                    </ng-container>
                                </ng-container>
                            </ng-container>

                            <div class="form-group">
                                <ng-container *ngIf="tareasEstandar">
                                    <label for="tEstandar">Tarea estandar</label>
                                    <br>
                                    <p-dropdown id="tEstandar" [options]="tareasEstandar" [(ngModel)]="selectedTarea" placeholder="Seleccione un cliente" optionLabel="Descripcion" name="tEstandar" [showClear]="true" required></p-dropdown>
                                    <ng-container *ngIf="!selectedTarea">
                                        <p-message severity="error" text="El campo es requerido"></p-message>
                                    </ng-container>
                                </ng-container>
                            </div>

                            <div class="form-group">
                                <label for="hInicio">Hora de inicio</label>
                                <br>
                                <p-calendar id="hInicio" [(ngModel)]="horaInicio" [timeOnly]="true" name="hInicio" #hora="ngModel" required></p-calendar>
                                <ng-container *ngIf="!ReporteAddForm.form.valid">
                                    <br>
                                    <p-message severity="error" text="El campo es requerido"></p-message>
                                </ng-container>
                            </div>

                            <div class="form-group">
                                <label for="hfinal">Hora final</label>
                                <br>
                                <p-calendar id="hfinal" [(ngModel)]="horaFinal" [timeOnly]="true" name="hfinal" required></p-calendar>
                                <ng-container *ngIf="!ReporteAddForm.form.valid">
                                    <br>
                                    <p-message severity="error" text="El campo es requerido"></p-message>
                                </ng-container>
                            </div>

                            <div class="form-group">
                                <label for="horasFacturar">Horas a facturar</label>
                                <br>
                                <input id="horasFacturar" type="text" size="30" pInputText [(ngModel)]="reporte.Horas_A_Facturar" name="horasFacturar">
                                <!-- <ng-container *ngIf="!ReporteAddForm.form.valid">
                                    <br>
                                    <p-message severity="error" text="El campo es requerido"></p-message>
                                </ng-container> -->
                            </div>

                            <div class="form-group">
                                <label for="descr">Descripción</label>
                                <br>
                                <textarea id="descr" rows="5" cols="30" [(ngModel)]="reporte.Descripcion" name="descr" pInputTextarea></textarea>
                                <!-- <ng-container *ngIf="!ReporteAddForm.form.valid">
                                    <br>
                                    <p-message severity="error" text="El campo es requerido"></p-message>
                                </ng-container> -->
                            </div>

                            <div class="form-group">
                                <label for="obs">Observaciones</label>
                                <br>
                                <input id="obs" type="text" size="30" [(ngModel)]="reporte.Observaciones" name="obs" pInputText>
                                <!-- <ng-container *ngIf="!ReporteAddForm.form.valid">
                                    <br>
                                    <p-message severity="error" text="El campo es requerido"></p-message>
                                </ng-container> -->
                            </div>

                            <div class="form-group">
                                <label for="estado">Estado</label>
                                <select class="form-control" id="estado" [(ngModel)]="reporte.Estado" name="estado">
                                    <option value="A">Activo</option>
                                    <option value="I">Inactivo</option>
                                </select>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-raised btn-warning m-1" data-dismiss="modal">
                                Cerrar
                            </button>

                            <ng-container *ngIf="ReporteAddForm.form.valid">
                                <button type="submit" (click)="onSubmit();" class="btn btn-raised btn-success m-1" data-dismiss="modal">
                                    Guardar Cambios
                                </button>
                            </ng-container>

                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="modal-title">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modal-title">Editar tarea estandar</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                    </div>
                    <form #TareaForm="ngForm" (ngSubmit)="onSubmitEdit()" autocomplete="off">
                        <div class="modal-body">

                            <div class="form-group">
                                <label for="descripcion">Descripcion</label>
                                <input name="descripcion" type="text" [(ngModel)]="selectedTarea.Descripcion" class="form-control" id="descripcion" placeholder="ej. Cliente" />
                            </div>

                            <div class="form-group">
                                <label for="estado">Estado</label>
                                <select class="form-control" id="estado" name="estado" [(ngModel)]="selectedTarea.Estado">
                                    <option value="A">Activo</option>
                                    <option value="I">Inactivo</option>
                                </select>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-raised btn-warning m-1" data-dismiss="modal">
                                Cerrar
                            </button>
                            <ng-container *ngIf="TareaForm.form.valid">
                                <button type="submit" (click)="onSubmitEdit();" class="btn btn-raised btn-success m-1" data-dismiss="modal">
                                    Guardar Cambios
                                </button>
                            </ng-container>
                        </div>
                    </form>
                </div>
            </div>
        </div> -->

    </div>
</div>