USE [master]
GO
/****** Object:  Database [DB_Servicios]    Script Date: 3/13/2020 8:53:12 PM ******/
CREATE DATABASE [DB_Servicios]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DB_Servicios', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\DB_Servicios.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DB_Servicios_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\DB_Servicios_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB_Servicios].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB_Servicios]
GO
/****** Object:  Schema [soluciones]    Script Date: 3/13/2020 8:53:12 PM ******/
CREATE SCHEMA [soluciones]
GO
/****** Object:  Table [dbo].[TBL_GS_CLIENTE]    Script Date: 3/13/2020 8:53:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_GS_CLIENTE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Cliente] [varchar](30) NOT NULL,
	[Costo_Hora] [decimal](28, 8) NOT NULL,
	[Estado] [char](1) NOT NULL,
	[Usuario_Creacion] [varchar](50) NULL,
	[Usuario_Modificacion] [varchar](50) NULL,
	[Fecha_Creacion] [datetime] NULL,
	[Fecha_Modificacion] [datetime] NULL,
 CONSTRAINT [PK_TBL_GS_CLIENTE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_GS_CONTRATO]    Script Date: 3/13/2020 8:53:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_GS_CONTRATO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](50) NOT NULL,
	[Cliente] [int] NULL,
	[Monto_Contrato] [decimal](28, 8) NOT NULL,
	[Horas_Contratadas] [time](7) NULL,
	[Horas_Disponibles] [time](7) NULL,
	[Horas_Consumidas] [time](7) NULL,
	[Horas_Excedidas] [time](7) NULL,
	[Estado] [char](1) NOT NULL,
	[Usuario_Creacion] [varchar](50) NULL,
	[Usuario_Modificacion] [varchar](50) NULL,
	[Fecha_Creacion] [datetime] NULL,
	[Fecha_Modificacion] [datetime] NULL,
 CONSTRAINT [PK_TBL_GS_CONTRATO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_GS_CONTRATO_REPORTE]    Script Date: 3/13/2020 8:53:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_GS_CONTRATO_REPORTE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_Contrato] [int] NOT NULL,
	[ID_Reporte] [int] NOT NULL,
	[Usuario_Creacion] [varchar](50) NULL,
	[Usuario_Modificacion] [varchar](50) NULL,
	[Fecha_Creacion] [datetime] NULL,
	[Fecha_Modificacion] [datetime] NULL,
 CONSTRAINT [PK_TBL_GS_CONTRATO_REPORTE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_GS_ETAPA_PROYECTO]    Script Date: 3/13/2020 8:53:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_GS_ETAPA_PROYECTO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](50) NOT NULL,
	[Horas_Estimadas] [decimal](5, 1) NULL,
	[Horas_Invertidas] [time](7) NULL,
	[Estado] [char](1) NOT NULL,
	[ID_Proyecto] [int] NOT NULL,
	[Usuario_Creacion] [varchar](50) NULL,
	[Usuario_Modificacion] [varchar](50) NULL,
	[Fecha_Creacion] [datetime] NULL,
	[Fecha_Modificacion] [datetime] NULL,
 CONSTRAINT [PK_TBL_GS_ETAPA_PROYECTO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_GS_ETAPA_REPORTE]    Script Date: 3/13/2020 8:53:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_GS_ETAPA_REPORTE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_Etapa] [int] NOT NULL,
	[ID_Reporte] [int] NOT NULL,
	[Usuario_Creacion] [varchar](50) NULL,
	[Usuario_Modificacion] [varchar](50) NULL,
	[Fecha_Creacion] [datetime] NULL,
	[Fecha_Modificacion] [datetime] NULL,
 CONSTRAINT [PK_TBL_GS_ETAPA_REPORTE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_GS_GARANTIA]    Script Date: 3/13/2020 8:53:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_GS_GARANTIA](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_Reporte] [int] NULL,
	[ID_Proyecto] [int] NULL,
	[ID_Contrato] [int] NULL,
	[Usuario_Creacion] [varchar](50) NULL,
	[Fecha_Creacion] [datetime] NULL,
 CONSTRAINT [PK_TBL_GS_GARANTIA] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_GS_MENU]    Script Date: 3/13/2020 8:53:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_GS_MENU](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](50) NOT NULL,
	[Estado] [char](1) NOT NULL,
	[Usuario_Creacion] [varchar](50) NULL,
	[Usuario_Modificacion] [varchar](50) NULL,
	[Fecha_Creacion] [datetime] NULL,
	[Fecha_Modificacion] [datetime] NULL,
 CONSTRAINT [PK_TBL_GS_MENU] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_GS_PARAMETRO]    Script Date: 3/13/2020 8:53:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_GS_PARAMETRO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](50) NOT NULL,
	[Valor1] [varchar](5) NULL,
	[Valor2] [varchar](max) NULL,
	[Usuario_Creacion] [varchar](50) NULL,
	[Usuario_Modificacion] [varchar](50) NULL,
	[Fecha_Creacion] [datetime] NULL,
	[Fecha_Modificacion] [datetime] NULL,
 CONSTRAINT [PK_TBL_GS_PARAMETRO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_GS_PERMISO]    Script Date: 3/13/2020 8:53:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_GS_PERMISO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_Seccion] [int] NOT NULL,
	[ID_Rol] [int] NOT NULL,
	[ID_Menu] [int] NOT NULL,
	[Estado] [char](1) NOT NULL,
	[Usuario_Creacion] [varchar](50) NULL,
	[Usuario_Modificacion] [varchar](50) NULL,
	[Fecha_Creacion] [datetime] NULL,
	[Fecha_Modificacion] [datetime] NULL,
 CONSTRAINT [PK_TBL_GS_PERMISO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[ID_Seccion] ASC,
	[ID_Rol] ASC,
	[ID_Menu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_GS_PROYECTO]    Script Date: 3/13/2020 8:53:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_GS_PROYECTO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](50) NOT NULL,
	[Cliente] [int] NULL,
	[Horas_Estimadas] [decimal](5, 1) NULL,
	[Horas_Invertidas] [time](7) NULL,
	[Monto_Total] [decimal](28, 8) NOT NULL,
	[Estado] [char](1) NOT NULL,
	[Usuario_Creacion] [varchar](50) NULL,
	[Usuario_Modificacion] [varchar](50) NULL,
	[Fecha_Creacion] [datetime] NULL,
	[Fecha_Modificacion] [datetime] NULL,
 CONSTRAINT [PK_TBL_GS_PROYECTO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_GS_REPORTE]    Script Date: 3/13/2020 8:53:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_GS_REPORTE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Cliente] [int] NULL,
	[ID_Tipo_Reporte] [int] NOT NULL,
	[Hora_Inicio] [datetime] NULL,
	[Hora_Final] [datetime] NULL,
	[Total_Horas] [time](7) NULL,
	[Horas_A_Facturar] [decimal](5, 1) NOT NULL,
	[Tareas_Estandar] [int] NULL,
	[Descripcion] [varchar](max) NOT NULL,
	[Observaciones] [varchar](250) NULL,
	[Estado] [char](1) NULL,
	[Usuario_Creacion] [varchar](50) NULL,
	[Usuario_Modificacion] [varchar](50) NULL,
	[Fecha_Creacion] [datetime] NULL,
	[Fecha_Modificacion] [datetime] NULL,
	[Correo_Enviado] [bit] NULL,
	[Correo_Respondido] [bit] NULL,
 CONSTRAINT [PK_TBL_GS_REPORTE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_GS_ROL]    Script Date: 3/13/2020 8:53:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_GS_ROL](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](50) NOT NULL,
	[Estado] [char](1) NOT NULL,
	[Usuario_Creacion] [varchar](50) NULL,
	[Usuario_Modificacion] [varchar](50) NULL,
	[Fecha_Creacion] [datetime] NULL,
	[Fecha_Modificacion] [datetime] NULL,
 CONSTRAINT [PK_TBL_GS_ROL] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_GS_SECCION]    Script Date: 3/13/2020 8:53:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_GS_SECCION](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](50) NOT NULL,
	[Estado] [char](1) NOT NULL,
	[Usuario_Creacion] [varchar](50) NULL,
	[Usuario_Modificacion] [varchar](50) NULL,
	[Fecha_Creacion] [datetime] NULL,
	[Fecha_Modificacion] [datetime] NULL,
 CONSTRAINT [PK_TBL_GS_SUBMENU] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_GS_TAREA_ESTANDAR]    Script Date: 3/13/2020 8:53:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_GS_TAREA_ESTANDAR](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](250) NOT NULL,
	[Estado] [char](1) NOT NULL,
	[Usuario_Creacion] [varchar](50) NULL,
	[Usuario_Modificacion] [varchar](50) NULL,
	[Fecha_Creacion] [datetime] NULL,
	[Fecha_Modificacion] [datetime] NULL,
 CONSTRAINT [PK_TBL_GS_TAREA_ESTANDAR] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_GS_TIPO_REPORTE]    Script Date: 3/13/2020 8:53:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_GS_TIPO_REPORTE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](50) NOT NULL,
	[Estado] [char](1) NOT NULL,
	[Usuario_Creacion] [varchar](50) NULL,
	[Usuario_Modificacion] [varchar](50) NULL,
	[Fecha_Creacion] [datetime] NULL,
	[Fecha_Modificacion] [datetime] NULL,
 CONSTRAINT [PK_TBL_GS_TIPO_REPORTE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_GS_USUARIO]    Script Date: 3/13/2020 8:53:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_GS_USUARIO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Usuario] [varchar](50) NOT NULL,
	[Contrasenna] [varchar](max) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Correo_Electronico] [varchar](250) NOT NULL,
	[Telefono] [varchar](10) NOT NULL,
	[Estado] [char](1) NOT NULL,
	[Rol] [int] NOT NULL,
	[Usuario_Creacion] [varchar](50) NULL,
	[Usuario_Modificacion] [varchar](50) NULL,
	[Fecha_Creacion] [datetime] NULL,
	[Fecha_Modificacion] [datetime] NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TBL_GS_MENU] ON 

INSERT [dbo].[TBL_GS_MENU] ([ID], [Descripcion], [Estado], [Usuario_Creacion], [Usuario_Modificacion], [Fecha_Creacion], [Fecha_Modificacion]) VALUES (1, N'Mantenimiento de Rol', N'A', N'SA', N'SA', CAST(N'2019-10-05T16:59:48.200' AS DateTime), CAST(N'2019-10-05T16:59:48.200' AS DateTime))
INSERT [dbo].[TBL_GS_MENU] ([ID], [Descripcion], [Estado], [Usuario_Creacion], [Usuario_Modificacion], [Fecha_Creacion], [Fecha_Modificacion]) VALUES (2, N'Mantenimiento de Usuario', N'A', N'SA', N'SA', CAST(N'2019-10-09T18:51:28.060' AS DateTime), CAST(N'2019-10-09T18:51:28.060' AS DateTime))
INSERT [dbo].[TBL_GS_MENU] ([ID], [Descripcion], [Estado], [Usuario_Creacion], [Usuario_Modificacion], [Fecha_Creacion], [Fecha_Modificacion]) VALUES (3, N'Permisos del Sistema', N'A', N'SA', N'SA', CAST(N'2019-10-09T18:51:28.060' AS DateTime), CAST(N'2019-10-09T18:51:28.060' AS DateTime))
SET IDENTITY_INSERT [dbo].[TBL_GS_MENU] OFF
SET IDENTITY_INSERT [dbo].[TBL_GS_ROL] ON 

INSERT [dbo].[TBL_GS_ROL] ([ID], [Descripcion], [Estado], [Usuario_Creacion], [Usuario_Modificacion], [Fecha_Creacion], [Fecha_Modificacion]) VALUES (1, N'Administrador', N'A', N'SA', N'SA', CAST(N'2020-03-13T00:00:00.000' AS DateTime), CAST(N'2020-03-13T00:00:00.000' AS DateTime))
INSERT [dbo].[TBL_GS_ROL] ([ID], [Descripcion], [Estado], [Usuario_Creacion], [Usuario_Modificacion], [Fecha_Creacion], [Fecha_Modificacion]) VALUES (2, N'Tecnico', N'A', N'SA', N'SA', CAST(N'2020-03-13T00:00:00.000' AS DateTime), CAST(N'2020-03-13T00:00:00.000' AS DateTime))
INSERT [dbo].[TBL_GS_ROL] ([ID], [Descripcion], [Estado], [Usuario_Creacion], [Usuario_Modificacion], [Fecha_Creacion], [Fecha_Modificacion]) VALUES (3, N'RRHH', N'A', N'SA', N'SA', CAST(N'2020-03-13T00:00:00.000' AS DateTime), CAST(N'2020-03-13T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[TBL_GS_ROL] OFF
SET IDENTITY_INSERT [dbo].[TBL_GS_SECCION] ON 

INSERT [dbo].[TBL_GS_SECCION] ([ID], [Descripcion], [Estado], [Usuario_Creacion], [Usuario_Modificacion], [Fecha_Creacion], [Fecha_Modificacion]) VALUES (1, N'Lista', N'A', N'SA', N'SA', CAST(N'2019-10-05T17:01:45.227' AS DateTime), CAST(N'2019-10-05T17:01:45.227' AS DateTime))
INSERT [dbo].[TBL_GS_SECCION] ([ID], [Descripcion], [Estado], [Usuario_Creacion], [Usuario_Modificacion], [Fecha_Creacion], [Fecha_Modificacion]) VALUES (2, N'Editar', N'A', N'SA', N'SA', CAST(N'2019-10-05T19:49:24.030' AS DateTime), CAST(N'2019-10-05T19:49:24.030' AS DateTime))
INSERT [dbo].[TBL_GS_SECCION] ([ID], [Descripcion], [Estado], [Usuario_Creacion], [Usuario_Modificacion], [Fecha_Creacion], [Fecha_Modificacion]) VALUES (3, N'Agregar', N'A', N'SA', N'SA', CAST(N'2019-10-05T19:49:24.030' AS DateTime), CAST(N'2019-10-05T19:49:24.030' AS DateTime))
SET IDENTITY_INSERT [dbo].[TBL_GS_SECCION] OFF
SET IDENTITY_INSERT [dbo].[TBL_GS_TIPO_REPORTE] ON 

INSERT [dbo].[TBL_GS_TIPO_REPORTE] ([ID], [Descripcion], [Estado], [Usuario_Creacion], [Usuario_Modificacion], [Fecha_Creacion], [Fecha_Modificacion]) VALUES (1, N'Proyecto', N'A', N'SA', N'SA', CAST(N'2019-10-27T19:54:07.880' AS DateTime), CAST(N'2019-10-27T19:54:07.880' AS DateTime))
INSERT [dbo].[TBL_GS_TIPO_REPORTE] ([ID], [Descripcion], [Estado], [Usuario_Creacion], [Usuario_Modificacion], [Fecha_Creacion], [Fecha_Modificacion]) VALUES (2, N'Contrato', N'A', N'SA', N'SA', CAST(N'2019-10-27T19:54:18.397' AS DateTime), CAST(N'2019-10-27T19:54:18.397' AS DateTime))
INSERT [dbo].[TBL_GS_TIPO_REPORTE] ([ID], [Descripcion], [Estado], [Usuario_Creacion], [Usuario_Modificacion], [Fecha_Creacion], [Fecha_Modificacion]) VALUES (3, N'Facturar', N'A', N'SA', N'SA', CAST(N'2019-10-27T19:54:41.867' AS DateTime), CAST(N'2019-10-27T19:54:41.867' AS DateTime))
SET IDENTITY_INSERT [dbo].[TBL_GS_TIPO_REPORTE] OFF
SET IDENTITY_INSERT [dbo].[TBL_GS_USUARIO] ON 

INSERT [dbo].[TBL_GS_USUARIO] ([ID], [Usuario], [Contrasenna], [Nombre], [Correo_Electronico], [Telefono], [Estado], [Rol], [Usuario_Creacion], [Usuario_Modificacion], [Fecha_Creacion], [Fecha_Modificacion]) VALUES (1, N'Admin', N'admin', N'Administrador', N'admin@sitsa.net', N'88888888', N'A', 1, N'SA', N'SA', CAST(N'2020-03-13T00:00:00.000' AS DateTime), CAST(N'2020-03-13T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[TBL_GS_USUARIO] OFF
ALTER TABLE [dbo].[TBL_GS_CONTRATO]  WITH CHECK ADD  CONSTRAINT [FK_TBL_GS_CONTRATO_TBL_GS_CLIENTE] FOREIGN KEY([Cliente])
REFERENCES [dbo].[TBL_GS_CLIENTE] ([ID])
GO
ALTER TABLE [dbo].[TBL_GS_CONTRATO] CHECK CONSTRAINT [FK_TBL_GS_CONTRATO_TBL_GS_CLIENTE]
GO
ALTER TABLE [dbo].[TBL_GS_CONTRATO_REPORTE]  WITH CHECK ADD FOREIGN KEY([ID_Contrato])
REFERENCES [dbo].[TBL_GS_CONTRATO] ([ID])
GO
ALTER TABLE [dbo].[TBL_GS_CONTRATO_REPORTE]  WITH CHECK ADD FOREIGN KEY([ID_Reporte])
REFERENCES [dbo].[TBL_GS_REPORTE] ([ID])
GO
ALTER TABLE [dbo].[TBL_GS_ETAPA_PROYECTO]  WITH CHECK ADD  CONSTRAINT [FK_TBL_GS_ETAPA_PROYECTO_TBL_GS_PROYECTO] FOREIGN KEY([ID_Proyecto])
REFERENCES [dbo].[TBL_GS_PROYECTO] ([ID])
GO
ALTER TABLE [dbo].[TBL_GS_ETAPA_PROYECTO] CHECK CONSTRAINT [FK_TBL_GS_ETAPA_PROYECTO_TBL_GS_PROYECTO]
GO
ALTER TABLE [dbo].[TBL_GS_ETAPA_REPORTE]  WITH CHECK ADD FOREIGN KEY([ID_Etapa])
REFERENCES [dbo].[TBL_GS_ETAPA_PROYECTO] ([ID])
GO
ALTER TABLE [dbo].[TBL_GS_ETAPA_REPORTE]  WITH CHECK ADD FOREIGN KEY([ID_Reporte])
REFERENCES [dbo].[TBL_GS_REPORTE] ([ID])
GO
ALTER TABLE [dbo].[TBL_GS_PERMISO]  WITH CHECK ADD FOREIGN KEY([ID_Menu])
REFERENCES [dbo].[TBL_GS_MENU] ([ID])
GO
ALTER TABLE [dbo].[TBL_GS_PERMISO]  WITH CHECK ADD FOREIGN KEY([ID_Rol])
REFERENCES [dbo].[TBL_GS_ROL] ([ID])
GO
ALTER TABLE [dbo].[TBL_GS_PERMISO]  WITH CHECK ADD FOREIGN KEY([ID_Seccion])
REFERENCES [dbo].[TBL_GS_SECCION] ([ID])
GO
ALTER TABLE [dbo].[TBL_GS_PROYECTO]  WITH CHECK ADD  CONSTRAINT [FK_TBL_GS_PROYECTO_TBL_GS_CLIENTE] FOREIGN KEY([Cliente])
REFERENCES [dbo].[TBL_GS_CLIENTE] ([ID])
GO
ALTER TABLE [dbo].[TBL_GS_PROYECTO] CHECK CONSTRAINT [FK_TBL_GS_PROYECTO_TBL_GS_CLIENTE]
GO
ALTER TABLE [dbo].[TBL_GS_REPORTE]  WITH CHECK ADD  CONSTRAINT [FK_TBL_GS_REPORTE_TBL_GS_CLIENTE] FOREIGN KEY([Cliente])
REFERENCES [dbo].[TBL_GS_CLIENTE] ([ID])
GO
ALTER TABLE [dbo].[TBL_GS_REPORTE] CHECK CONSTRAINT [FK_TBL_GS_REPORTE_TBL_GS_CLIENTE]
GO
ALTER TABLE [dbo].[TBL_GS_REPORTE]  WITH CHECK ADD  CONSTRAINT [FK_TBL_GS_REPORTE_TBL_GS_TAREA_ESTANDAR] FOREIGN KEY([Tareas_Estandar])
REFERENCES [dbo].[TBL_GS_TAREA_ESTANDAR] ([ID])
GO
ALTER TABLE [dbo].[TBL_GS_REPORTE] CHECK CONSTRAINT [FK_TBL_GS_REPORTE_TBL_GS_TAREA_ESTANDAR]
GO
ALTER TABLE [dbo].[TBL_GS_REPORTE]  WITH CHECK ADD  CONSTRAINT [FK_TBL_GS_REPORTE_TBL_GS_TIPO_REPORTE] FOREIGN KEY([ID_Tipo_Reporte])
REFERENCES [dbo].[TBL_GS_TIPO_REPORTE] ([ID])
GO
ALTER TABLE [dbo].[TBL_GS_REPORTE] CHECK CONSTRAINT [FK_TBL_GS_REPORTE_TBL_GS_TIPO_REPORTE]
GO
ALTER TABLE [dbo].[TBL_GS_USUARIO]  WITH CHECK ADD  CONSTRAINT [FK_TBL_GS_USUARIO_TBL_GS_ROL] FOREIGN KEY([Rol])
REFERENCES [dbo].[TBL_GS_ROL] ([ID])
GO
ALTER TABLE [dbo].[TBL_GS_USUARIO] CHECK CONSTRAINT [FK_TBL_GS_USUARIO_TBL_GS_ROL]
GO

/****** Object:  StoredProcedure [dbo].[SP_ADM_Editar_Cliente]    Script Date: 3/13/2020 8:53:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Luis Ledezma>
-- Create date: <3-11-2019>
-- Description:	<Editar Cliente>
-- =============================================
CREATE PROCEDURE [dbo].[SP_ADM_Editar_Cliente]
	@P_Cliente varchar(30),
	@P_Costo_Hora decimal(28,8),
	@P_Estado char(1),
	@P_Usuario_Modifica varchar(50)
AS
BEGIN
	UPDATE TBL_GS_CLIENTE
	SET Costo_Hora = @P_Costo_Hora,
	Estado = @P_Estado,
	Usuario_Modificacion = @P_Usuario_Modifica
	WHERE Cliente = @P_Cliente;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ADM_Editar_Contrato]    Script Date: 3/13/2020 8:53:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Jozsef Jimenez
-- Create date: <Create Date,,>
-- Description:	Edita el contrato que se expecifique
-- =============================================
CREATE PROCEDURE [dbo].[SP_ADM_Editar_Contrato]
	-- Add the parameters for the stored procedure here
	@P_ID_Contrato INT,
	@P_Descripcion VARCHAR(50),
	@P_Horas_Contratadas TIME,
	@P_Monto_Contrato DECIMAL(28,8),
	@P_Estado CHAR(1),
	@P_Usuario_Modificacion VARCHAR(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	UPDATE [dbo].[TBL_GS_CONTRATO]
   SET [Descripcion] = @P_Descripcion
      ,[Monto_Contrato] = @P_Monto_Contrato
      ,[Horas_Contratadas] = @P_Horas_Contratadas
      ,[Estado] = @P_Estado
      ,[Usuario_Modificacion] = @P_Usuario_Modificacion
      ,[Fecha_Modificacion] = GETDATE()
 WHERE ID = @P_ID_Contrato
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ADM_Editar_Correo_Enviado]    Script Date: 3/13/2020 8:53:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Jozsef Jimenez Mendez
-- Create date: 06/03/2020
-- Description:	Actualiza si el correo fue enviado o no.
-- =============================================
CREATE PROCEDURE [dbo].[SP_ADM_Editar_Correo_Enviado]
	-- Add the parameters for the stored procedure here
	@P_Id_Reporte INT,
	@P_Enviado BIT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	UPDATE [dbo].[TBL_GS_REPORTE]
	SET Correo_Enviado = @P_Enviado
	WHERE ID = @P_Id_Reporte

END
GO
/****** Object:  StoredProcedure [dbo].[SP_ADM_Editar_Etapa_Proyecto]    Script Date: 3/13/2020 8:53:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Jozsef Jimenez
-- Create date: <Create Date,,>
-- Description:	Edita la etapa de proyecto que se expecifique por ID
-- =============================================
CREATE PROCEDURE [dbo].[SP_ADM_Editar_Etapa_Proyecto]
	@P_ID_Etapa_Proyecto INT,
	@P_Descripcion VARCHAR(50),
	@P_Horas_Estimadas DECIMAL(5,1),
	@P_Estado CHAR(1),
	@P_Usuario_Modificacion VARCHAR(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	UPDATE [DB_Servicios].[dbo].[TBL_GS_ETAPA_PROYECTO]
	SET [Descripcion] = @P_Descripcion
       ,[Horas_Estimadas] = @P_Horas_Estimadas
       ,[Estado] = @P_Estado
       ,[Usuario_Modificacion] = @P_Usuario_Modificacion
       ,[Fecha_Modificacion] = GETDATE()
	WHERE ID = @P_ID_Etapa_Proyecto
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ADM_Editar_Proyecto]    Script Date: 3/13/2020 8:53:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Jozsef Jimenez
-- Create date: <Create Date,,>
-- Description:	Edita el proyecto que se especifique
-- =============================================
CREATE PROCEDURE [dbo].[SP_ADM_Editar_Proyecto] 
	-- Add the parameters for the stored procedure here
	@P_ID_Proyecto INT,
	@P_Descripcion VARCHAR(50),
	@P_Horas_Estimadas DECIMAL(5,1),
	@P_Monto_Total DECIMAL(28,8),
	@P_Estado CHAR(1),
	@P_Usuario_Modificacion VARCHAR(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	UPDATE [DB_Servicios].[dbo].[TBL_GS_PROYECTO]
	SET [Descripcion] = @P_Descripcion
       ,[Horas_Estimadas] = @P_Horas_Estimadas
       ,[Monto_Total] = @P_Monto_Total
       ,[Estado] = @P_Estado
       ,[Usuario_Modificacion] = @P_Usuario_Modificacion
       ,[Fecha_Modificacion] = GETDATE()
	WHERE ID = @P_ID_Proyecto
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ADM_Editar_Reporte]    Script Date: 3/13/2020 8:53:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Jozsef Jimenez
-- Create date: <Create Date,,>
-- Description:	Actualizar reporte
-- =============================================
CREATE PROCEDURE [dbo].[SP_ADM_Editar_Reporte]
	-- Add the parameters for the stored procedure here
	@P_ID_Reporte INT,
	@P_Descripcion VARCHAR(MAX),
	@P_Observaciones VARCHAR(250),
	@P_Estado CHAR,
	@P_Usuario_Modificacion VARCHAR(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	
UPDATE [dbo].[TBL_GS_REPORTE]
   SET [Descripcion] = @P_Descripcion
      ,[Observaciones] = @P_Observaciones
      ,[Estado] = @P_Estado
      ,[Usuario_Modificacion] = @P_Usuario_Modificacion
      ,[Fecha_Modificacion] = GETDATE()
 WHERE [ID] = @P_ID_Reporte
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ADM_Editar_Tarea_Estandar]    Script Date: 3/13/2020 8:53:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Jozsef Jimenez 
-- Create date: <Create Date,,>
-- Description:	Edita una tarea estandar por ID 
-- =============================================
CREATE PROCEDURE [dbo].[SP_ADM_Editar_Tarea_Estandar] 
	-- Add the parameters for the stored procedure here
	@P_ID int,
	@P_Descripcion varchar(50),
	@P_Estado char(1),
	@P_Usuario varchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	UPDATE [dbo].[TBL_GS_TAREA_ESTANDAR]
    SET [Descripcion] = @P_Descripcion
       ,[Estado] = @P_Estado
       ,[Usuario_Modificacion] = @P_Usuario
       ,[Fecha_Modificacion] = GETDATE()
	WHERE ID = @P_ID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ADM_Insertar_Cliente]    Script Date: 3/13/2020 8:53:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Luis Ledezma>
-- Create date: <4-11-2019>
-- Description:	<Insertar Clientes>
-- =============================================
CREATE PROCEDURE [dbo].[SP_ADM_Insertar_Cliente] 
	@P_CLIENTE VARCHAR(30),
	@P_COSTO_HORA DECIMAL(28,8),
	@P_ESTADO CHAR(1),
	@P_USUARIO VARCHAR(50)
AS
BEGIN
	
	INSERT INTO [dbo].[TBL_GS_CLIENTE]
           ([Cliente]
           ,[Costo_Hora]
           ,[Estado]
           ,[Usuario_Creacion]
           ,[Usuario_Modificacion]
           ,[Fecha_Creacion]
           ,[Fecha_Modificacion])
     VALUES
           (@P_CLIENTE
           ,@P_COSTO_HORA
           ,@P_ESTADO
           ,@P_USUARIO
           ,@P_USUARIO
           ,GETDATE()
           ,GETDATE())
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ADM_Insertar_Contrato]    Script Date: 3/13/2020 8:53:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Jozsef Jimenez
-- Create date: <Create Date,,>
-- Description:	Inserta un contrato
-- =============================================
CREATE PROCEDURE [dbo].[SP_ADM_Insertar_Contrato]
	@P_Descripcion VARCHAR(50),
	@P_ID_Cliente INT,
	@P_Monto_Contratado DECIMAL(28,8),
	@P_Horas_Contratadas TIME,
	@P_Estado CHAR(1),
	@P_Usuario_Creacion VARCHAR(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	INSERT INTO [dbo].[TBL_GS_CONTRATO]
           ([Descripcion]
           ,[Cliente]
           ,[Monto_Contrato]
           ,[Horas_Contratadas]
           ,[Estado]
           ,[Usuario_Creacion]
           ,[Fecha_Creacion])
     VALUES
           (@P_Descripcion
           ,@P_ID_Cliente
           ,@P_Monto_Contratado
           ,@P_Horas_Contratadas
           ,@P_Estado
           ,@P_Usuario_Creacion
           ,GETDATE())
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ADM_Insertar_Contrato_Reporte]    Script Date: 3/13/2020 8:53:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Jozsef Jimenez 
-- Create date: <Create Date,,>
-- Description:	Al crear un reporte se ejecuta y crea la relacion que hay entre el reporte y el contrato
-- =============================================
CREATE PROCEDURE [dbo].[SP_ADM_Insertar_Contrato_Reporte] 
	-- Add the parameters for the stored procedure here
	@P_ID_Contrato INT,
	@P_Usuario_Creacion VARCHAR(50),
	@P_reporteJustC INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	INSERT INTO [dbo].[TBL_GS_CONTRATO_REPORTE]
           ([ID_Contrato]
           ,[ID_Reporte]
           ,[Usuario_Creacion]
           ,[Usuario_Modificacion]
           ,[Fecha_Creacion]
           ,[Fecha_Modificacion])
     VALUES
           (@P_ID_Contrato
           ,@P_reporteJustC
           ,@P_Usuario_Creacion
           ,@P_Usuario_Creacion
           ,GETDATE()
           ,GETDATE())
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ADM_Insertar_Etapa_Proyecto]    Script Date: 3/13/2020 8:53:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Jozsef Jimenez
-- Create date: <Create Date,,>
-- Description:	Inserta una Etapa.
-- =============================================
CREATE PROCEDURE [dbo].[SP_ADM_Insertar_Etapa_Proyecto] 
	@P_Descripcion VARCHAR(50),
	@P_ID_Proyecto INT,
	@P_Horas_Estimadas DECIMAL(5,1),
	@P_Estado CHAR(1),
	@P_Usuario_Creacion VARCHAR(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	INSERT INTO [dbo].[TBL_GS_ETAPA_PROYECTO]
           ([Descripcion]
           ,[Horas_Estimadas]
           ,[Estado]
           ,[ID_Proyecto]
           ,[Usuario_Creacion]
		   ,[Fecha_Creacion])
     VALUES
           (@P_Descripcion
           ,@P_Horas_Estimadas
           ,@P_Estado
           ,@P_ID_Proyecto
           ,@P_Usuario_Creacion
		   ,GETDATE())
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ADM_Insertar_Etapa_Reporte]    Script Date: 3/13/2020 8:53:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Jozsef Jimenez
-- Create date: <Create Date,,>
-- Description:	Al crear un reporte se ejecuta y crea la relacion que hay entre el reporte y la etapa
-- =============================================
CREATE PROCEDURE [dbo].[SP_ADM_Insertar_Etapa_Reporte]
	-- Add the parameters for the stored procedure here
	@P_ID_Etapa INT,
	@P_Usuario_Creacion VARCHAR(50),
	@P_reporteJustC INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	INSERT INTO [dbo].[TBL_GS_ETAPA_REPORTE]
           ([ID_Etapa]
           ,[ID_Reporte]
           ,[Usuario_Creacion]
           ,[Usuario_Modificacion]
           ,[Fecha_Creacion]
           ,[Fecha_Modificacion])
     VALUES
           (@P_ID_Etapa
           ,@P_reporteJustC
           ,@P_Usuario_Creacion
           ,@P_Usuario_Creacion
           ,GETDATE()
           ,GETDATE())
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ADM_Insertar_Permisos]    Script Date: 3/13/2020 8:53:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Luis Ledezma>
-- Create date: <20-11-2019>
-- Description:	<Inserta los permisos de los roles>
-- =============================================
CREATE PROCEDURE [dbo].[SP_ADM_Insertar_Permisos]
	@P_ID_ROL INT
AS
BEGIN
	DECLARE @PERMISOS TABLE(
		[ID_Seccion] [int] NOT NULL,
		[ID_Rol] [int] NOT NULL,
		[ID_Menu] [int] NOT NULL,
		[Estado] [char](1) NOT NULL,
		[Usuario_Creacion] [varchar](50) NULL,
		[Usuario_Modificacion] [varchar](50) NULL,
		[Fecha_Creacion] [datetime] NULL,
		[Fecha_Modificacion] [datetime] NULL
	);
	INSERT INTO @PERMISOS
	SELECT
	ID_Seccion,
	ID_Rol,
	ID_Menu,
	Estado,
	Usuario_Creacion,
	Usuario_Modificacion,
	Fecha_Creacion,
	Fecha_Modificacion
	FROM TBL_GS_PERMISO WHERE ID_Rol = 1; 

	UPDATE @PERMISOS
	SET ID_Rol = @P_ID_ROL,
	Estado = 'I';

	INSERT INTO TBL_GS_PERMISO
	SELECT
	ID_Seccion,
	ID_Rol,
	ID_Menu,
	Estado,
	Usuario_Creacion,
	Usuario_Modificacion,
	Fecha_Creacion,
	Fecha_Modificacion
	FROM @PERMISOS;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ADM_Insertar_Proyecto]    Script Date: 3/13/2020 8:53:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Jozsef Jimenez
-- Create date: <Create Date,,>
-- Description:	Inserta un proyecto
-- =============================================
CREATE PROCEDURE [dbo].[SP_ADM_Insertar_Proyecto] 
	-- Add the parameters for the stored procedure here
	@P_Descripcion VARCHAR(50),
	@P_ID_Cliente INT,
	@P_Horas_Estimadas DECIMAL(5,1),
	@P_Monto_Total DECIMAL(28,8),
	@P_Estado CHAR(1),
	@P_Usuario_Creacion VARCHAR(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	INSERT INTO [dbo].[TBL_GS_PROYECTO]
           ([Descripcion]
           ,[Cliente]
           ,[Horas_Estimadas]
           ,[Monto_Total]
           ,[Estado]
           ,[Usuario_Creacion]
           ,[Fecha_Creacion])
     VALUES
           (@P_Descripcion
           ,@P_ID_Cliente
           ,@P_Horas_Estimadas
           ,@P_Monto_Total
           ,@P_Estado
           ,@P_Usuario_Creacion
           ,GETDATE())
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ADM_Insertar_Reporte]    Script Date: 3/13/2020 8:53:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Jozsef Jimenez
-- Create date: <Create Date,,>
-- Description: Hace una inserción en la tabla [dbo].[TBL_GS_REPORTE]
-- =============================================
CREATE PROCEDURE [dbo].[SP_ADM_Insertar_Reporte]
	-- Add the parameters for the stored procedure here
	@P_Cliente INT,
	@P_Tipo_Reporte INT,
	-- ---------------------------------
	-- SI EL FORMULARIO ES PARA PROYECTO
	@P_ID_Proyecto INT,  
	@P_ID_Etapa INT,
	-- ----------------------------------
	-- SI EL FORMULARIO ES PARA CONTRATO
	@P_ID_Contrato INT,

	-- ----------------------------------
	-- SI EL FORMULARIO ES PARA GARANTIA
	@P_ID_Proyecto_Garantia INT,
	@P_ID_Contrato_Garantia INT,
	-------------------------------------
	@P_Hora_Inicio DATETIME,
	@P_Hora_Final DATETIME,
	--@P_Total_Horas TIME, -- ERA Decimal y las de proyecto tambien 
	@P_Horas_A_Facturar DECIMAL(5,1),
	@P_Tareas_Estandar INT,
	@P_Descripcion VARCHAR(MAX),
	@P_Observaciones VARCHAR(250),
	@P_Estado CHAR(1),
	@P_Usuario_Creacion VARCHAR(50),
	@P_ID_Reporte INT OUTPUT,
	@P_Correo_Cliente VARCHAR(250) OUTPUT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	DECLARE @D1 DateTime=@P_Hora_Inicio,
			@D2 DateTime=@P_Hora_Final;
	DECLARE @P_Total_Horas TIME = (SELECT  CAST(@D2-@D1 AS TIME) as dif)

	DECLARE @Horas_Facturar DECIMAL = DATEDIFF(hour,@P_Hora_Inicio,@P_Hora_Final)
	DECLARE @Cliente VARCHAR(30) = (SELECT Cliente FROM [DB_Servicios].[dbo].[TBL_GS_CLIENTE] WHERE ID = @P_Cliente) -- para saber el cliente del ERP

	DECLARE @reporteJustC INT

    -- Insert statements for procedure here
	INSERT INTO [dbo].[TBL_GS_REPORTE]
           ([Cliente]
           ,[ID_Tipo_Reporte]
           ,[Hora_Inicio]
           ,[Hora_Final]
           ,[Total_Horas]
           ,[Horas_A_Facturar]
           ,[Tareas_Estandar]
           ,[Descripcion]
           ,[Observaciones]
           ,[Estado]
           ,[Usuario_Creacion]
           ,[Fecha_Creacion]
		   ,Correo_Enviado
		   ,Correo_Respondido)
     VALUES
           (@P_Cliente
           ,@P_Tipo_Reporte
           ,@P_Hora_Inicio
           ,@P_Hora_Final
           ,@P_Total_Horas
           ,@Horas_Facturar
           ,@P_Tareas_Estandar
           ,@P_Descripcion
           ,@P_Observaciones
           ,@P_Estado
           ,@P_Usuario_Creacion
           ,GETDATE()
		   ,0
		   ,0)

	---ID DEL REPORTE QUE SE INSERTA.
	SET @reporteJustC = (SELECT TOP(1) SCOPE_IDENTITY() FROM [dbo].[TBL_GS_REPORTE])

	SET @P_ID_Reporte = @reporteJustC
	SET @P_Correo_Cliente = (SELECT E_MAIL FROM [SITSA-FE].[soluciones].[CLIENTE] WHERE CLIENTE = @Cliente)

	-- SI EL FORMULARIO ES DE TIPO PROYECTO 
	IF @P_ID_Proyecto != 0
	BEGIN
		-----------------------------------------------------------
		------INSERTA LA RELACION DEL PROYECTO CON EL REPORTE------
		EXEC [dbo].[SP_ADM_Insertar_Etapa_Reporte] @P_ID_Etapa, @P_Usuario_Creacion, @reporteJustC

	END
	-- SI EL FORMULARIO ES DE TIPO CONTRATO
	IF @P_ID_Contrato != 0
	BEGIN
		-----------------------------------------------------------
		------INSERTA LA RELACION DEL CONTRATO CON EL REPORTE------
		EXEC [dbo].[SP_ADM_Insertar_Contrato_Reporte] @P_ID_Contrato, @P_Usuario_Creacion, @reporteJustC
		
	END
	-- SI EL FORMULARIO ES UNA GARANTIA
	IF @P_Tipo_Reporte = 4
	BEGIN 
		INSERT INTO [DB_Servicios].[dbo].[TBL_GS_GARANTIA]
           ([ID_Reporte]
           ,[ID_Proyecto]
           ,[ID_Contrato]
           ,[Usuario_Creacion]
           ,[Fecha_Creacion])
		VALUES
           (@reporteJustC
           ,@P_ID_Proyecto_Garantia
           ,@P_ID_Contrato_Garantia
           ,@P_Usuario_Creacion
           ,GETDATE())
	END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ADM_Insertar_Tarea_Estandar]    Script Date: 3/13/2020 8:53:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Jozsef Jimenez
-- Create date: <Create Date,,>
-- Description:	Inserta una nueva tarea estandar.
-- =============================================
CREATE PROCEDURE [dbo].[SP_ADM_Insertar_Tarea_Estandar] 
	-- Add the parameters for the stored procedure here
	@P_Descripcion varchar(50),
	@P_Estado char(1),
	@P_Usuario varchar(50)

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	INSERT INTO [DB_Servicios].[dbo].[TBL_GS_TAREA_ESTANDAR]
           ([Descripcion]
           ,[Estado]
           ,[Usuario_Creacion]
           ,[Usuario_Modificacion]
           ,[Fecha_Creacion]
           ,[Fecha_Modificacion])
     VALUES
           (@P_Descripcion
           ,@P_Estado
           ,@P_Usuario
           ,@P_Usuario
           ,GETDATE()
           ,GETDATE())
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ADM_InsertarPedido]    Script Date: 3/13/2020 8:53:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Luis Ledezma>
-- Create date: <21-01-2020>
-- Description:	<Inserta Pedidos>
-- =============================================
CREATE PROCEDURE [dbo].[SP_ADM_InsertarPedido]
	@P_ID_REPORTE INT 
AS
BEGIN

	Declare @ConsecPedido int = (Select VALOR_CONSECUTIVO from [SITSA-FE].soluciones.CONSECUTIVO_FA WHERE CODIGO_CONSECUTIVO = 'PE' ),
	@Pedido varchar(20) = (Select VALOR_CONSECUTIVO from [SITSA-FE].soluciones.CONSECUTIVO_FA WHERE CODIGO_CONSECUTIVO = 'PE' ),
	@Cliente varchar(20) = (Select Cliente from TBL_GS_REPORTE where ID = @P_ID_REPORTE),
	@UsuarioCreacion varchar(50) = (Select Usuario_Creacion from TBL_GS_REPORTE where ID = @P_ID_REPORTE),
	@HorasTotales int = (Select Horas_A_Facturar from TBL_GS_REPORTE where ID = @P_ID_REPORTE);

	Declare @CodUsuario varchar(50) = (Select Usuario from TBL_GS_USUARIO where Correo_Electronico = @UsuarioCreacion),
	@CostoHoraCliente int = (Select Costo_Hora from TBL_GS_CLIENTE where ID = @Cliente);
	Declare @Cliente_ERP VARCHAR(30) = (SELECT Cliente FROM TBL_GS_CLIENTE WHERE ID=@Cliente);
	Declare @V_Total decimal(28,8) = (Select (@HorasTotales*@CostoHoraCliente));
	
	UPDATE [SITSA-FE].soluciones.CONSECUTIVO_FA
	SET VALOR_CONSECUTIVO = REPLICATE('0', (6 - LEN(@ConsecPedido+1))) + CONCAT(@ConsecPedido +1,'')
	WHERE CODIGO_CONSECUTIVO = 'PE' ;

	INSERT INTO [SITSA-FE].[soluciones].[PEDIDO]
           ([PEDIDO]
           ,[ESTADO]
           ,[FECHA_PEDIDO]
           ,[FECHA_PROMETIDA]
           ,[FECHA_PROX_EMBARQU]
           ,[FECHA_ULT_EMBARQUE]
           ,[FECHA_ULT_CANCELAC]
           ,[ORDEN_COMPRA]
           ,[FECHA_ORDEN]
           ,[TARJETA_CREDITO]
           ,[EMBARCAR_A]
           ,[DIREC_EMBARQUE]
           ,[DIRECCION_FACTURA]
           ,[RUBRO1]
           ,[RUBRO2]
           ,[RUBRO3]
           ,[RUBRO4]
           ,[RUBRO5]
           ,[OBSERVACIONES]
           ,[COMENTARIO_CXC]
           ,[TOTAL_MERCADERIA]
           ,[MONTO_ANTICIPO]
           ,[MONTO_FLETE]
           ,[MONTO_SEGURO]
           ,[MONTO_DOCUMENTACIO]
           ,[TIPO_DESCUENTO1]
           ,[TIPO_DESCUENTO2]
           ,[MONTO_DESCUENTO1]
           ,[MONTO_DESCUENTO2]
           ,[PORC_DESCUENTO1]
           ,[PORC_DESCUENTO2]
           ,[TOTAL_IMPUESTO1]
           ,[TOTAL_IMPUESTO2]
           ,[TOTAL_A_FACTURAR]
           ,[PORC_COMI_VENDEDOR]
           ,[PORC_COMI_COBRADOR]
           ,[TOTAL_CANCELADO]
           ,[TOTAL_UNIDADES]
           ,[IMPRESO]
           ,[FECHA_HORA]
           ,[DESCUENTO_VOLUMEN]
           ,[TIPO_PEDIDO]
           ,[MONEDA_PEDIDO]
           ,[VERSION_NP]
           ,[AUTORIZADO]
           ,[DOC_A_GENERAR]
           ,[CLASE_PEDIDO]
           ,[MONEDA]
           ,[NIVEL_PRECIO]
           ,[COBRADOR]
           ,[RUTA]
           ,[USUARIO]
           ,[CONDICION_PAGO]
           ,[BODEGA]
           ,[ZONA]
           ,[VENDEDOR]
           ,[CLIENTE]
           ,[CLIENTE_DIRECCION]
           ,[CLIENTE_CORPORAC]
           ,[CLIENTE_ORIGEN]
           ,[PAIS]
           ,[SUBTIPO_DOC_CXC]
           ,[TIPO_DOC_CXC]
           ,[BACKORDER]
           ,[CONTRATO]
           ,[PORC_INTCTE]
           ,[DESCUENTO_CASCADA]
           ,[TIPO_CAMBIO]
           ,[FIJAR_TIPO_CAMBIO]
           ,[ORIGEN_PEDIDO]
           ,[DESC_DIREC_EMBARQUE]
		   ,[CreatedBy]
		   ,[UpdatedBy]
		   ,[CreateDate])
     VALUES
           (@Pedido--@PEDIDO, varchar(20),>
           ,''--@ESTADO, varchar(1),>
           ,GETDATE()--@FECHA_PEDIDO, datetime,>
           ,''--@FECHA_PROMETIDA, datetime,>
           ,''--@FECHA_PROX_EMBARQU, datetime,>
           ,''--@FECHA_ULT_EMBARQUE, datetime,>
           ,''--@FECHA_ULT_CANCELAC, datetime,>
           ,''--@ORDEN_COMPRA, varchar(30),>
           ,''--@FECHA_ORDEN, datetime,>
           ,''--@TARJETA_CREDITO, varchar(20),>
           ,''--@EMBARCAR_A, varchar(80),>
           ,''--@DIREC_EMBARQUE, varchar(8),>
           ,''--@DIRECCION_FACTURA, varchar(4000),>
           ,''--@RUBRO1, varchar(50),>
           ,''--@RUBRO2, varchar(50),>
           ,''--@RUBRO3, varchar(50),>
           ,''--@RUBRO4, varchar(50),>
           ,''--@RUBRO5, varchar(50),>
           ,''--@OBSERVACIONES, text,>
           ,''--@COMENTARIO_CXC, varchar(40),>
           ,0--@TOTAL_MERCADERIA, decimal(28,8),>
           ,0--@MONTO_ANTICIPO, decimal(28,8),>
           ,0--@MONTO_FLETE, decimal(28,8),>
           ,0--@MONTO_SEGURO, decimal(28,8),>
           ,0--@MONTO_DOCUMENTACIO, decimal(28,8),>
           ,''--@TIPO_DESCUENTO1, varchar(1),>
           ,''--@TIPO_DESCUENTO2, varchar(1),>
           ,0--@MONTO_DESCUENTO1, decimal(28,8),>
           ,0--@MONTO_DESCUENTO2, decimal(28,8),>
           ,0--@PORC_DESCUENTO1, decimal(28,8),>
           ,0--@PORC_DESCUENTO2, decimal(28,8),>
           ,0--@TOTAL_IMPUESTO1, decimal(28,8),>
           ,0--@TOTAL_IMPUESTO2, decimal(28,8),>
           ,@V_Total--@TOTAL_A_FACTURAR, decimal(28,8),>
           ,0--@PORC_COMI_VENDEDOR, decimal(28,8),>
           ,0--@PORC_COMI_COBRADOR, decimal(28,8),>
           ,0--@TOTAL_CANCELADO, decimal(28,8),>
           ,0--@TOTAL_UNIDADES, decimal(28,8),>
           ,''--@IMPRESO, varchar(1),>
           ,''--@FECHA_HORA, datetime,>
           ,0--@DESCUENTO_VOLUMEN, decimal(28,8),>
           ,''--@TIPO_PEDIDO, varchar(1),>
           ,''--@MONEDA_PEDIDO, varchar(1),>
           ,0--@VERSION_NP, int,>
           ,''--@AUTORIZADO, varchar(1),>
           ,''--@DOC_A_GENERAR, varchar(1),>
           ,''--@CLASE_PEDIDO, varchar(1),>
           ,''--@MONEDA, varchar(1),>
           ,''--@NIVEL_PRECIO, varchar(12),>
           ,''--@COBRADOR, varchar(4),>
           ,''--@RUTA, varchar(4),>
           ,''--@USUARIO, varchar(10),>
           ,''--@CONDICION_PAGO, varchar(4),>
           ,''--@BODEGA, varchar(4),>
           ,''--@ZONA, varchar(4),>
           ,''--@VENDEDOR, varchar(4),>
           ,@Cliente_ERP--@CLIENTE, varchar(20),>
           ,@Cliente_ERP--@CLIENTE_DIRECCION, varchar(20),>
           ,@Cliente_ERP--@CLIENTE_CORPORAC, varchar(20),>
           ,@Cliente_ERP--@CLIENTE_ORIGEN, varchar(20),>
           ,''--@PAIS, varchar(4),>
           ,0--@SUBTIPO_DOC_CXC, smallint,>
           ,''--@TIPO_DOC_CXC, varchar(3),>
           ,''--@BACKORDER, varchar(1),>
           ,''--@CONTRATO, varchar(20),>
           ,0--@PORC_INTCTE, decimal(28,8),>
           ,''--@DESCUENTO_CASCADA, varchar(1),>
           ,0--@TIPO_CAMBIO, decimal(28,8),>
           ,''--@FIJAR_TIPO_CAMBIO, varchar(1),>
           ,''--@ORIGEN_PEDIDO, varchar(1),>
           ,''--@DESC_DIREC_EMBARQUE, varchar(250),>
		   ,@UsuarioCreacion
		   ,@UsuarioCreacion
		   ,GETDATE()
		   );

		   INSERT INTO [SITSA-FE].[soluciones].[PEDIDO_LINEA]
           ([PEDIDO]
           ,[PEDIDO_LINEA]
           ,[BODEGA]
           ,[LOTE]
           ,[LOCALIZACION]
           ,[ARTICULO]
           ,[ESTADO]
           ,[FECHA_ENTREGA]
           ,[LINEA_USUARIO]
           ,[PRECIO_UNITARIO]
           ,[CANTIDAD_PEDIDA]
           ,[CANTIDAD_A_FACTURA]
           ,[CANTIDAD_FACTURADA]
           ,[CANTIDAD_RESERVADA]
           ,[CANTIDAD_BONIFICAD]
           ,[CANTIDAD_CANCELADA]
           ,[TIPO_DESCUENTO]
           ,[MONTO_DESCUENTO]
           ,[PORC_DESCUENTO]
           ,[DESCRIPCION]
           ,[COMENTARIO]
           ,[PEDIDO_LINEA_BONIF]
           ,[UNIDAD_DISTRIBUCIO]
           ,[FECHA_PROMETIDA]
           ,[LINEA_ORDEN_COMPRA]
		   ,[CreatedBy]
		   ,[UpdatedBy]
		   ,[CreateDate])
     VALUES
           (@Pedido--<PEDIDO, varchar(20),>
           ,0--<PEDIDO_LINEA, smallint,>
           ,''--<BODEGA, varchar(4),>
           ,''--<LOTE, varchar(15),>
           ,''--<LOCALIZACION, varchar(8),>
           ,@CodUsuario--<ARTICULO, varchar(20),>
           ,''--<ESTADO, varchar(1),>
           ,GETDATE()--<FECHA_ENTREGA, datetime,>
           ,0--<LINEA_USUARIO, smallint,>
           ,0--<PRECIO_UNITARIO, decimal(28,8),>
           ,0--<CANTIDAD_PEDIDA, decimal(28,8),>
           ,0--<CANTIDAD_A_FACTURA, decimal(28,8),>
           ,1--<CANTIDAD_FACTURADA, decimal(28,8),>
           ,0--<CANTIDAD_RESERVADA, decimal(28,8),>
           ,0--<CANTIDAD_BONIFICAD, decimal(28,8),>
           ,0--<CANTIDAD_CANCELADA, decimal(28,8),>
           ,''--<TIPO_DESCUENTO, varchar(1),>
           ,0--<MONTO_DESCUENTO, decimal(28,8),>
           ,0--<PORC_DESCUENTO, decimal(28,8),>
           ,''--<DESCRIPCION, text,>
           ,''--<COMENTARIO, varchar(100),>
           ,0--<PEDIDO_LINEA_BONIF, smallint,>
           ,''--<UNIDAD_DISTRIBUCIO, varchar(6),>
           ,GETDATE()--<FECHA_PROMETIDA, datetime,>
           ,0--<LINEA_ORDEN_COMPRA, int,>)
		   ,@UsuarioCreacion
		   ,@UsuarioCreacion
		   ,GETDATE()
		   );
	
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ADM_Seleccionar_Clientes]    Script Date: 3/13/2020 8:53:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		Jozsef Jimenez
-- Create date: <Create Date,,>
-- Description:	Selecciona todos los clientes de la tabla [dbo].[TBL_GS_CLIENTE]
-- =============================================
CREATE PROCEDURE [dbo].[SP_ADM_Seleccionar_Clientes] 
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT C.[ID]
      ,C.[Cliente]
	  ,CERP.NOMBRE
      ,C.[Costo_Hora]
      ,C.[Estado]
      ,C.[Usuario_Creacion]
      ,C.[Usuario_Modificacion]
      ,C.[Fecha_Creacion]
      ,C.[Fecha_Modificacion]
  FROM [dbo].[TBL_GS_CLIENTE] C 
  INNER JOIN [SITSA-FE].soluciones.CLIENTE CERP
  ON C.Cliente = CERP.CLIENTE;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ADM_Seleccionar_Clientes_ERP]    Script Date: 3/13/2020 8:53:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Luis Ledezma>
-- Create date: <4-11-2019>
-- Description:	<Selecciona los clientes del ERP>
-- =============================================
CREATE PROCEDURE [dbo].[SP_ADM_Seleccionar_Clientes_ERP]
AS
BEGIN
	Select CL.Cliente,concat(CL.Cliente,' - ',CL.Nombre) as Nombre 
	from [SITSA-FE].soluciones.CLIENTE CL
	where CL.Cliente not in (Select GSC.Cliente from TBL_GS_CLIENTE GSC)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ADM_Seleccionar_Contratos]    Script Date: 3/13/2020 8:53:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Jozseef Jimenez
-- Create date: <Create Date,,>
-- Description:	Selecciona todos los contratos
-- =============================================
CREATE PROCEDURE [dbo].[SP_ADM_Seleccionar_Contratos]
	-- Add the parameters for the stored procedure here
	@P_Usuario_Consulta VARCHAR(250)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	DECLARE @es_Admin VARCHAR(250) = (SELECT Correo_Electronico 
									  FROM [dbo].[TBL_GS_USUARIO] 
									  WHERE Rol = 1 AND Correo_Electronico IN (@P_Usuario_Consulta))
	

	IF @es_Admin IS NOT NULL 
	BEGIN
		SELECT C.[ID]
			  ,C.[Descripcion]
			  ,C.[Cliente] AS 'ID_Cliente'
			  ,CL.[Cliente]
			  ,C.[Monto_Contrato]
			  ,C.[Horas_Contratadas]
			  ,C.[Horas_Disponibles]
			  ,C.[Horas_Consumidas]
			  ,C.[Horas_Excedidas]
			  ,C.[Estado]
			  ,C.[Usuario_Creacion]
			  ,C.[Usuario_Modificacion]
			  ,C.[Fecha_Creacion]
			  ,C.[Fecha_Modificacion] 
		  FROM [dbo].[TBL_GS_CONTRATO] C
		  INNER JOIN [DB_Servicios].[dbo].[TBL_GS_CLIENTE] CL ON CL.ID = C.Cliente 
	END
	IF @es_Admin IS NULL
	BEGIN 
		SELECT C.[ID]
			  ,C.[Descripcion]
			  ,C.[Cliente] AS 'ID_Cliente'
			  ,CL.[Cliente]
			  ,C.[Monto_Contrato]
			  ,C.[Horas_Contratadas]
			  ,C.[Horas_Disponibles]
			  ,C.[Horas_Consumidas]
			  ,C.[Horas_Excedidas]
			  ,C.[Estado]
			  ,C.[Usuario_Creacion]
			  ,C.[Usuario_Modificacion]
			  ,C.[Fecha_Creacion]
			  ,C.[Fecha_Modificacion] 
		  FROM [dbo].[TBL_GS_CONTRATO] C
		  INNER JOIN [DB_Servicios].[dbo].[TBL_GS_CLIENTE] CL ON CL.ID = C.Cliente 
		  WHERE C.Usuario_Creacion = @P_Usuario_Consulta;
	END
	
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ADM_Seleccionar_Contratos_Activos]    Script Date: 3/13/2020 8:53:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Jozsef Jimenez
-- Create date: <Create Date,,>
-- Description:	Selecciona los contratos que estan activos
-- =============================================
CREATE PROCEDURE [dbo].[SP_ADM_Seleccionar_Contratos_Activos]
	-- Add the parameters for the stored procedure here

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT C.[ID]
      ,C.[Descripcion]
      ,C.[Cliente] AS 'ID_Cliente'
	  ,CL.[Cliente]
      ,C.[Monto_Contrato]
      ,C.[Horas_Contratadas]
      ,C.[Horas_Disponibles]
      ,C.[Horas_Consumidas]
      ,C.[Horas_Excedidas]
      ,C.[Estado]
      ,C.[Usuario_Creacion]
      ,C.[Usuario_Modificacion]
      ,C.[Fecha_Creacion]
      ,C.[Fecha_Modificacion] 
  FROM [dbo].[TBL_GS_CONTRATO] C
  INNER JOIN [DB_Servicios].[dbo].[TBL_GS_CLIENTE] CL ON CL.ID = C.Cliente 
  WHERE C.Estado = 'A'
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ADM_Seleccionar_Etapas_de_Proyecto_Activas_por_Proyectos]    Script Date: 3/13/2020 8:53:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Jozsef Jimenez
-- Create date: <Create Date,,>
-- Description:	Selecciona las etapas de proyecto ACTIVAS por el proyecto expecificado.[dbo].[TBL_GS_ETAPA_REPORTE]
-- =============================================
CREATE PROCEDURE [dbo].[SP_ADM_Seleccionar_Etapas_de_Proyecto_Activas_por_Proyectos]
	-- Add the parameters for the stored procedure here
	@P_ID_Proyecto INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	IF(@P_ID_Proyecto = 0)
	BEGIN
		SELECT EP.[ID]
			,EP.[Descripcion]
			,EP.[Horas_Estimadas]
			,EP.[Horas_Invertidas]
			,EP.[Estado]
			,EP.[ID_Proyecto]
			,P.[Descripcion] AS 'Proyecto'
			,EP.[Usuario_Creacion]
			,EP.[Usuario_Modificacion]
			,EP.[Fecha_Creacion]
			,EP.[Fecha_Modificacion]
		FROM [DB_Servicios].[dbo].[TBL_GS_ETAPA_PROYECTO] EP
		INNER JOIN [DB_Servicios].[dbo].[TBL_GS_PROYECTO] P ON P.ID = EP.ID_Proyecto
		WHERE EP.Estado = 'A'
		ORDER BY EP.ID_Proyecto ASC
	END

	IF(@P_ID_Proyecto != 0)
	BEGIN
		SELECT EP.[ID]
			,EP.[Descripcion]
			,EP.[Horas_Estimadas]
			,EP.[Horas_Invertidas]
			,EP.[Estado]
			,EP.[ID_Proyecto]
			,P.[Descripcion] AS 'Proyecto'
			,EP.[Usuario_Creacion]
			,EP.[Usuario_Modificacion]
			,EP.[Fecha_Creacion]
			,EP.[Fecha_Modificacion]
		FROM [DB_Servicios].[dbo].[TBL_GS_ETAPA_PROYECTO] EP
		INNER JOIN [DB_Servicios].[dbo].[TBL_GS_PROYECTO] P ON P.ID = EP.ID_Proyecto
		WHERE ID_Proyecto = @P_ID_Proyecto AND EP.Estado = 'A'
	END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ADM_Seleccionar_Etapas_de_Proyecto_por_Proyectos]    Script Date: 3/13/2020 8:53:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Jozsef Jimenez 
-- Create date: <Create Date,,>
-- Description:	Selecciona las etapas de proyecto por el proyecto expecificado.[dbo].[TBL_GS_ETAPA_REPORTE]
-- =============================================
CREATE PROCEDURE [dbo].[SP_ADM_Seleccionar_Etapas_de_Proyecto_por_Proyectos] 
	-- Add the parameters for the stored procedure here
	@P_ID_Proyecto INT,
	@P_Usuario_Consulta VARCHAR(250)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	DECLARE @es_Admin VARCHAR(250) = (SELECT Correo_Electronico 
									  FROM [dbo].[TBL_GS_USUARIO] 
									  WHERE Rol = 1 AND Correo_Electronico IN (@P_Usuario_Consulta))


	IF @es_Admin IS NOT NULL 
	BEGIN
		-- Insert statements for procedure here
		IF(@P_ID_Proyecto = 0)
		BEGIN
			SELECT EP.[ID]
				,EP.[Descripcion]
				,EP.[Horas_Estimadas]
				,EP.[Horas_Invertidas]
				,EP.[Estado]
				,EP.[ID_Proyecto]
				,P.[Descripcion] AS 'Proyecto'
				,EP.[Usuario_Creacion]
				,EP.[Usuario_Modificacion]
				,EP.[Fecha_Creacion]
				,EP.[Fecha_Modificacion]
			FROM [DB_Servicios].[dbo].[TBL_GS_ETAPA_PROYECTO] EP
			INNER JOIN [DB_Servicios].[dbo].[TBL_GS_PROYECTO] P ON P.ID = EP.ID_Proyecto
			ORDER BY EP.ID_Proyecto ASC
		END

		IF(@P_ID_Proyecto != 0)
		BEGIN
			SELECT EP.[ID]
				,EP.[Descripcion]
				,EP.[Horas_Estimadas]
				,EP.[Horas_Invertidas]
				,EP.[Estado]
				,EP.[ID_Proyecto]
				,P.[Descripcion] AS 'Proyecto'
				,EP.[Usuario_Creacion]
				,EP.[Usuario_Modificacion]
				,EP.[Fecha_Creacion]
				,EP.[Fecha_Modificacion]
			FROM [DB_Servicios].[dbo].[TBL_GS_ETAPA_PROYECTO] EP
			INNER JOIN [DB_Servicios].[dbo].[TBL_GS_PROYECTO] P ON P.ID = EP.ID_Proyecto
			WHERE ID_Proyecto = @P_ID_Proyecto
		END
	END

	IF @es_Admin IS NULL
	BEGIN 
		IF(@P_ID_Proyecto = 0)
		BEGIN
			SELECT EP.[ID]
				,EP.[Descripcion]
				,EP.[Horas_Estimadas]
				,EP.[Horas_Invertidas]
				,EP.[Estado]
				,EP.[ID_Proyecto]
				,P.[Descripcion] AS 'Proyecto'
				,EP.[Usuario_Creacion]
				,EP.[Usuario_Modificacion]
				,EP.[Fecha_Creacion]
				,EP.[Fecha_Modificacion]
			FROM [DB_Servicios].[dbo].[TBL_GS_ETAPA_PROYECTO] EP
			INNER JOIN [DB_Servicios].[dbo].[TBL_GS_PROYECTO] P ON P.ID = EP.ID_Proyecto
			WHERE EP.[Usuario_Creacion] = @P_Usuario_Consulta
			ORDER BY EP.ID_Proyecto ASC
		END

		IF(@P_ID_Proyecto != 0)
		BEGIN
			SELECT EP.[ID]
				,EP.[Descripcion]
				,EP.[Horas_Estimadas]
				,EP.[Horas_Invertidas]
				,EP.[Estado]
				,EP.[ID_Proyecto]
				,P.[Descripcion] AS 'Proyecto'
				,EP.[Usuario_Creacion]
				,EP.[Usuario_Modificacion]
				,EP.[Fecha_Creacion]
				,EP.[Fecha_Modificacion]
			FROM [DB_Servicios].[dbo].[TBL_GS_ETAPA_PROYECTO] EP
			INNER JOIN [DB_Servicios].[dbo].[TBL_GS_PROYECTO] P ON P.ID = EP.ID_Proyecto
			WHERE ID_Proyecto = @P_ID_Proyecto AND EP.[Usuario_Creacion] = @P_Usuario_Consulta
		END
	END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ADM_Seleccionar_Garantias]    Script Date: 3/13/2020 8:53:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Luis Ledezma>
-- Create date: <24-11-2019>
-- Description:	<Consulta las garantias>
-- =============================================
CREATE PROCEDURE [dbo].[SP_ADM_Seleccionar_Garantias] 
AS
BEGIN
	SELECT G.ID
		,CL.Cliente
		,R.Horas_A_Facturar
		,TR.Descripcion AS 'Tipo'
		,CONCAT('Contrato - ',C.Descripcion) as Descripcion
		,R.Fecha_Creacion 
	FROM TBL_GS_GARANTIA G
	INNER JOIN TBL_GS_REPORTE R ON G.ID_Reporte = R.ID
	INNER JOIN TBL_GS_CONTRATO C ON C.ID = G.ID_Contrato
	INNER JOIN TBL_GS_CLIENTE CL on CL.ID = R.Cliente
	INNER JOIN TBL_GS_TIPO_REPORTE TR on TR.ID = R.ID_Tipo_Reporte
	UNION 
	SELECT G.ID
		,CL.Cliente
		,R.Horas_A_Facturar
		,TR.Descripcion AS 'Tipo'
		,CONCAT('Proyecto - ',P.Descripcion)
		,R.Fecha_Creacion 
	FROM TBL_GS_GARANTIA G
	INNER JOIN TBL_GS_REPORTE R ON G.ID_Reporte = R.ID
	INNER JOIN TBL_GS_PROYECTO P ON P.ID = G.ID_Proyecto
	INNER JOIN TBL_GS_CLIENTE CL on CL.ID = R.Cliente
	INNER JOIN TBL_GS_TIPO_REPORTE TR on TR.ID = R.ID_Tipo_Reporte
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ADM_Seleccionar_Proyectos]    Script Date: 3/13/2020 8:53:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Jozsef Jimenez
-- Create date: <Create Date,,>
-- Description:	Seleccionar todos los proyectos
-- =============================================
CREATE PROCEDURE [dbo].[SP_ADM_Seleccionar_Proyectos] 
	@P_Usuario_Consulta VARCHAR(250)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	DECLARE @es_Admin VARCHAR(250) = (SELECT Correo_Electronico 
									  FROM [dbo].[TBL_GS_USUARIO] 
									  WHERE Rol = 1 AND Correo_Electronico IN (@P_Usuario_Consulta))


	IF @es_Admin IS NOT NULL 
	BEGIN
		SELECT P.[ID]
		  ,P.[Descripcion]
		  ,P.[Cliente] AS 'ID_Cliente'
		  ,C.[Cliente]
		  ,P.[Horas_Estimadas]
		  ,P.[Horas_Invertidas]
		  ,P.[Monto_Total]
		  ,P.[Estado]
		  ,P.[Usuario_Creacion]
		  ,P.[Usuario_Modificacion]
		  ,P.[Fecha_Creacion]
		  ,P.[Fecha_Modificacion]
		FROM [DB_Servicios].[dbo].[TBL_GS_PROYECTO] P
		INNER JOIN [DB_Servicios].[dbo].[TBL_GS_CLIENTE] C ON C.ID = P.Cliente
	END
	IF @es_Admin IS NULL
	BEGIN 
		SELECT P.[ID]
		  ,P.[Descripcion]
		  ,P.[Cliente] AS 'ID_Cliente'
		  ,C.[Cliente]
		  ,P.[Horas_Estimadas]
		  ,P.[Horas_Invertidas]
		  ,P.[Monto_Total]
		  ,P.[Estado]
		  ,P.[Usuario_Creacion]
		  ,P.[Usuario_Modificacion]
		  ,P.[Fecha_Creacion]
		  ,P.[Fecha_Modificacion]
		FROM [DB_Servicios].[dbo].[TBL_GS_PROYECTO] P
		INNER JOIN [DB_Servicios].[dbo].[TBL_GS_CLIENTE] C ON C.ID = P.Cliente
		WHERE P.Usuario_Creacion = @P_Usuario_Consulta;
	END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ADM_Seleccionar_Proyectos_Activos]    Script Date: 3/13/2020 8:53:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Jozsef Jimenez
-- Create date: <Create Date,,>
-- Description:	Selecciona los proyectos que estan activos
-- =============================================
CREATE PROCEDURE [dbo].[SP_ADM_Seleccionar_Proyectos_Activos]
	-- Add the parameters for the stored procedure here
	 
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT P.[ID]
      ,P.[Descripcion]
      ,P.[Cliente] AS 'ID_Cliente'
	  ,C.[Cliente]
      ,P.[Horas_Estimadas]
      ,P.[Horas_Invertidas]
      ,P.[Monto_Total]
      ,P.[Estado]
      ,P.[Usuario_Creacion]
      ,P.[Usuario_Modificacion]
      ,P.[Fecha_Creacion]
      ,P.[Fecha_Modificacion]
    FROM [DB_Servicios].[dbo].[TBL_GS_PROYECTO] P
	INNER JOIN [DB_Servicios].[dbo].[TBL_GS_CLIENTE] C ON C.ID = P.Cliente 
	WHERE P.Estado = 'A'
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ADM_Seleccionar_Reporte_Por_Id]    Script Date: 3/13/2020 8:53:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Jozsef Jimenez Mendez
-- Create date: 06/03/2020
-- Description:	Selecciona el reporte por Id
-- =============================================
CREATE PROCEDURE [dbo].[SP_ADM_Seleccionar_Reporte_Por_Id]
	-- Add the parameters for the stored procedure here
	@P_Id_Reporte INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT R.[ID]
		,R.[Cliente] AS 'ID_Cliente'
		,CL.[Cliente]
		,R.[ID_Tipo_Reporte]
		,TR.[Descripcion] AS 'Descripcion_Tipo_Reporte'
		,R.[Hora_Inicio]
		,R.[Hora_Final]
		,R.[Total_Horas]
		,R.[Horas_A_Facturar]
		,R.[Tareas_Estandar] AS 'ID_Tareas_Estandar'
		,TE.[Descripcion] AS 'Tareas_Estandar'
		,R.[Descripcion]
		,R.[Observaciones]
		,R.[Estado]
		,R.[Usuario_Creacion]
		,R.[Usuario_Modificacion]
		,R.[Fecha_Creacion]
		,R.[Fecha_Modificacion]
		,R.[Correo_Enviado]
		,R.[Correo_Respondido]
	FROM [dbo].[TBL_GS_REPORTE] R
	INNER JOIN [DB_Servicios].[dbo].[TBL_GS_TIPO_REPORTE] TR ON TR.ID = R.ID_Tipo_Reporte
	INNER JOIN [DB_Servicios].[dbo].[TBL_GS_TAREA_ESTANDAR] TE ON TE.ID = R.Tareas_Estandar
	INNER JOIN [DB_Servicios].[dbo].[TBL_GS_CLIENTE] CL ON CL.ID = R.Cliente 
	WHERE R.ID = @P_Id_Reporte
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ADM_Seleccionar_Reportes]    Script Date: 3/13/2020 8:53:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Jozsef Jimenez
-- Create date: <Create Date,,>
-- Description:	Selecciona los reportes en la tabla [dbo].[TBL_GS_REPORTE]
-- =============================================
CREATE PROCEDURE [dbo].[SP_ADM_Seleccionar_Reportes] 
	-- Add the parameters for the stored procedure here
	@P_Usuario_Consulta VARCHAR(250)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	DECLARE @es_Admin VARCHAR(250) = (SELECT Correo_Electronico 
									  FROM [dbo].[TBL_GS_USUARIO] 
									  WHERE Rol = 1 AND Correo_Electronico IN (@P_Usuario_Consulta))

    -- Insert statements for procedure here
	IF @es_Admin IS NOT NULL 
	BEGIN
		SELECT R.[ID]
			  ,R.[Cliente] AS 'ID_Cliente'
			  ,CL.[Cliente]
			  ,R.[ID_Tipo_Reporte]
			  ,TR.[Descripcion] AS 'Descripcion_Tipo_Reporte'
			  ,R.[Hora_Inicio]
			  ,R.[Hora_Final]
			  ,R.[Total_Horas]
			  ,R.[Horas_A_Facturar]
			  ,R.[Tareas_Estandar] AS 'ID_Tareas_Estandar'
			  ,TE.[Descripcion] AS 'Tareas_Estandar'
			  ,R.[Descripcion]
			  ,R.[Observaciones]
			  ,R.[Estado]
			  ,R.[Usuario_Creacion]
			  ,R.[Usuario_Modificacion]
			  ,R.[Fecha_Creacion]
			  ,R.[Fecha_Modificacion]
		  FROM [dbo].[TBL_GS_REPORTE] R
		  INNER JOIN [DB_Servicios].[dbo].[TBL_GS_TIPO_REPORTE] TR ON TR.ID = R.ID_Tipo_Reporte
		  INNER JOIN [DB_Servicios].[dbo].[TBL_GS_TAREA_ESTANDAR] TE ON TE.ID = R.Tareas_Estandar
		  INNER JOIN [DB_Servicios].[dbo].[TBL_GS_CLIENTE] CL ON CL.ID = R.Cliente 
	END

	IF @es_Admin IS NULL
	BEGIN 
		SELECT R.[ID]
			  ,R.[Cliente] AS 'ID_Cliente'
			  ,CL.[Cliente]
			  ,R.[ID_Tipo_Reporte]
			  ,TR.[Descripcion] AS 'Descripcion_Tipo_Reporte'
			  ,R.[Hora_Inicio]
			  ,R.[Hora_Final]
			  ,R.[Total_Horas]
			  ,R.[Horas_A_Facturar]
			  ,R.[Tareas_Estandar] AS 'ID_Tareas_Estandar'
			  ,TE.[Descripcion] AS 'Tareas_Estandar'
			  ,R.[Descripcion]
			  ,R.[Observaciones]
			  ,R.[Estado]
			  ,R.[Usuario_Creacion]
			  ,R.[Usuario_Modificacion]
			  ,R.[Fecha_Creacion]
			  ,R.[Fecha_Modificacion]
		  FROM [dbo].[TBL_GS_REPORTE] R
		  INNER JOIN [DB_Servicios].[dbo].[TBL_GS_TIPO_REPORTE] TR ON TR.ID = R.ID_Tipo_Reporte
		  INNER JOIN [DB_Servicios].[dbo].[TBL_GS_TAREA_ESTANDAR] TE ON TE.ID = R.Tareas_Estandar
		  INNER JOIN [DB_Servicios].[dbo].[TBL_GS_CLIENTE] CL ON CL.ID = R.Cliente 
		  WHERE R.Usuario_Creacion = @P_Usuario_Consulta
	END

END
GO
/****** Object:  StoredProcedure [dbo].[SP_ADM_Seleccionar_Tareas_Estandar]    Script Date: 3/13/2020 8:53:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Jozsef Jimenez
-- Create date: <Create Date,,>
-- Description:	Selecciona todas las tareas estandar
-- =============================================
CREATE PROCEDURE [dbo].[SP_ADM_Seleccionar_Tareas_Estandar] 
	-- Add the parameters for the stored procedure here
	@P_Usuario_Consulta VARCHAR(250)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	DECLARE @es_Admin VARCHAR(250) = (SELECT Correo_Electronico 
									  FROM [dbo].[TBL_GS_USUARIO] 
									  WHERE Rol = 1 AND Correo_Electronico IN (@P_Usuario_Consulta))

	
	IF @es_Admin IS NOT NULL 
	BEGIN
		SELECT ID
		  ,Descripcion
		  ,Estado
		  ,Usuario_Creacion
		  ,Usuario_Modificacion
		  ,Fecha_Creacion
		  ,Fecha_Modificacion
		FROM [DB_Servicios].[dbo].[TBL_GS_TAREA_ESTANDAR]
	END
	IF @es_Admin IS NULL
	BEGIN 
		SELECT ID
		  ,Descripcion
		  ,Estado
		  ,Usuario_Creacion
		  ,Usuario_Modificacion
		  ,Fecha_Creacion
		  ,Fecha_Modificacion
		FROM [DB_Servicios].[dbo].[TBL_GS_TAREA_ESTANDAR]
		WHERE Usuario_Creacion = @P_Usuario_Consulta;
	END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ADM_Seleccionar_Tareas_Estandar_Activas]    Script Date: 3/13/2020 8:53:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Jozsef Jimenez
-- Create date: <Create Date,,>
-- Description:	Selecciona todas las tareas estandar Activas
-- =============================================
CREATE PROCEDURE [dbo].[SP_ADM_Seleccionar_Tareas_Estandar_Activas] 
	-- Add the parameters for the stored procedure here
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	SELECT ID
		 ,Descripcion
		 ,Estado
		 ,Usuario_Creacion
		 ,Usuario_Modificacion
		 ,Fecha_Creacion
		 ,Fecha_Modificacion
	FROM [DB_Servicios].[dbo].[TBL_GS_TAREA_ESTANDAR]
	WHERE Estado = 'A';
	
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ADM_Seleccionar_Tipo_Reportes]    Script Date: 3/13/2020 8:53:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Jozsef Jimenez
-- Create date: <Create Date,,>
-- Description:	Selecciona los tipos de reporte en la tabla [dbo].[TBL_GS_TIPO_REPORTE]
-- =============================================
CREATE PROCEDURE [dbo].[SP_ADM_Seleccionar_Tipo_Reportes] 
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT [ID]
      ,[Descripcion]
      ,[Estado]
      ,[Usuario_Creacion]
      ,[Usuario_Modificacion]
      ,[Fecha_Creacion]
      ,[Fecha_Modificacion]
    FROM [dbo].[TBL_GS_TIPO_REPORTE]
END
GO
/****** Object:  StoredProcedure [dbo].[SP_SEG_Actualizar_Lista_Permisos]    Script Date: 3/13/2020 8:53:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Jozsef Jimenez
-- Create date: <Create Date,,>
-- Description:	Actualiza la lista de los permisos activos e inactivos
-- =============================================
CREATE PROCEDURE [dbo].[SP_SEG_Actualizar_Lista_Permisos] 
	@P_Estado CHAR,
	@P_ID INT,
	@P_Usuario_Modificacion VARCHAR(50),
	@P_Fecha_Modificacion DATE
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	UPDATE [DB_Servicios].[dbo].[TBL_GS_PERMISO]
	SET Estado = @P_Estado, Usuario_Modificacion = @P_Usuario_Modificacion, Fecha_Modificacion = @P_Fecha_Modificacion
	WHERE ID = @P_ID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_SEG_Consultar_Usuario]    Script Date: 3/13/2020 8:53:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Jozsef Jimenez
-- Create date: <Create Date,,>
-- Description:	Consulta si ya existe el usuario en el sistema
-- =============================================
CREATE PROCEDURE [dbo].[SP_SEG_Consultar_Usuario]
	-- Add the parameters for the stored procedure here
	@P_Usuario VARCHAR(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	
	SELECT [ID]
      ,[Usuario]
      ,[Contrasenna]
      ,[Nombre]
      ,[Correo_Electronico]
      ,[Telefono]
      ,[Estado]
      ,[Rol]
      ,[Usuario_Creacion]
      ,[Usuario_Modificacion]
      ,[Fecha_Creacion]
      ,[Fecha_Modificacion]
	FROM [dbo].[TBL_GS_USUARIO]
	WHERE [Usuario] = @P_Usuario
END
GO
/****** Object:  StoredProcedure [dbo].[SP_SEG_Consultar_Usuario_ERP]    Script Date: 3/13/2020 8:53:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_SEG_Consultar_Usuario_ERP]
	-- Add the parameters for the stored procedure here
	@P_Articulo VARCHAR(20)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT ARTICULO
		, DESCRIPCION 
	FROM [SITSA-FE].[soluciones].[ARTICULO]
	WHERE [ARTICULO] = @P_Articulo
END
GO
/****** Object:  StoredProcedure [dbo].[SP_SEG_EditarRol]    Script Date: 3/13/2020 8:53:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Luis Ledezma>
--- Create date: <7-10-2019>-
-- Description:	<Editar Rol>
-- =============================================
CREATE PROCEDURE [dbo].[SP_SEG_EditarRol] 
	@P_ID int,
	@P_Descripcion varchar(50),
	@P_Estado char(1),
	@P_Usuario varchar(50)
AS
BEGIN
	SET NOCOUNT ON;
    -- Insert statements for procedure here
	Update TBL_GS_ROL
	SET Descripcion = @P_Descripcion,
		Estado = @P_Estado,
		Usuario_Modificacion = @P_Usuario,
		Fecha_Modificacion = GETDATE()
		WHERE ID = @P_ID;

END
GO
/****** Object:  StoredProcedure [dbo].[SP_SEG_EditarUsuario]    Script Date: 3/13/2020 8:53:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	Edita el usuario que se especifique por id.
-- =============================================
CREATE PROCEDURE [dbo].[SP_SEG_EditarUsuario] 
	@P_ID INT,
	@P_Usuario VARCHAR(50),
	@P_Contrasenna VARCHAR(max),
	@P_Nombre VARCHAR(50),
	@P_Correo VARCHAR(250),
	@P_Telefono VARCHAR(10),
	@P_Estado CHAR,
	@P_Rol INT,
	@p_UsuarioModificacion VARCHAR(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	UPDATE [dbo].[TBL_GS_USUARIO]
	SET Usuario = @P_Usuario
	   ,Contrasenna = @P_Contrasenna
	   ,Nombre = @P_Nombre
	   ,Correo_Electronico = @P_Correo
	   ,Telefono= @P_Telefono
	   ,Estado = @P_Estado
	   ,Rol = @P_Rol
	   ,Usuario_Modificacion = @p_UsuarioModificacion
	   ,Fecha_Modificacion = GETDATE()
	WHERE ID = @P_ID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_SEG_InsertarRol]    Script Date: 3/13/2020 8:53:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Luis Ledezma>
-- Create date: <7-10-2019>
-- Description:	<Inserta un Rol>
-- =============================================
CREATE PROCEDURE [dbo].[SP_SEG_InsertarRol] 
	@P_Descripcion varchar(50),
	@P_Estado char(1),
	@P_Usuario varchar(50)
AS
BEGIN

	SET NOCOUNT ON;
	Declare @Rol int = 0;
    INSERT INTO [dbo].[TBL_GS_ROL]
           ([Descripcion]
           ,[Estado]
           ,[Usuario_Creacion]
           ,[Usuario_Modificacion]
           ,[Fecha_Creacion]
           ,[Fecha_Modificacion])
     VALUES
           (@P_Descripcion
           ,@P_Estado
           ,@P_Usuario
           ,@P_Usuario
           ,GETDATE()
           ,GETDATE()
		   );
	SET @Rol = (SELECT TOP(1) SCOPE_IDENTITY() FROM [dbo].TBL_GS_ROL);

	EXEC [dbo].[SP_ADM_Insertar_Permisos] @Rol;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_SEG_InsertarUsuario]    Script Date: 3/13/2020 8:53:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	Inserta el usuario nuevo en la tabla Usuario
-- =============================================
CREATE PROCEDURE [dbo].[SP_SEG_InsertarUsuario]
	@P_Usuario VARCHAR(50),
	@P_Contrasenna VARCHAR(max),
	@P_Nombre VARCHAR(50),
	@P_Correo VARCHAR(250),
	@P_Telefono VARCHAR(10),
	@P_Estado CHAR,
	@P_Rol INT,
	@P_UsuarioCreacion VARCHAR(50),
	@p_UsuarioModificacion VARCHAR(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	INSERT INTO [dbo].[TBL_GS_USUARIO]
           ([Usuario]
           ,[Contrasenna]
           ,[Nombre]
           ,[Correo_Electronico]
           ,[Telefono]
           ,[Estado]
           ,[Rol]
           ,[Usuario_Creacion]
           ,[Usuario_Modificacion]
           ,[Fecha_Creacion]
           ,[Fecha_Modificacion])
     VALUES
           (@P_Usuario
           ,@P_Contrasenna
           ,@P_Nombre
           ,@P_Correo
           ,@P_Telefono
           ,@P_Estado
           ,@P_Rol
           ,@P_UsuarioCreacion
           ,@p_UsuarioModificacion
           ,GETDATE()
           ,GETDATE())
END
GO
/****** Object:  StoredProcedure [dbo].[SP_SEG_Seleccionar_Menus]    Script Date: 3/13/2020 8:53:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Jozsef Jimenez
-- Create date: <Create Date,,>
-- Description:	Selecciona todos los Menus de la tabla [dbo].[TBL_GS_MENU]
-- =============================================
CREATE PROCEDURE [dbo].[SP_SEG_Seleccionar_Menus]
	-- Add the parameters for the stored procedure here
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT [ID]
		  ,[Descripcion]
		  ,[Estado]
		  ,[Usuario_Creacion]
		  ,[Usuario_Modificacion]
		  ,[Fecha_Creacion]
		  ,[Fecha_Modificacion]
	FROM [dbo].[TBL_GS_MENU]
END
GO
/****** Object:  StoredProcedure [dbo].[SP_SEG_Seleccionar_Permiso_Por_Rol]    Script Date: 3/13/2020 8:53:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Seleccionar Permisos>
-- Create date: <9-10-2019
-- Description:	<Selecciona los permisos
-- =============================================
CREATE PROCEDURE [dbo].[SP_SEG_Seleccionar_Permiso_Por_Rol]
	@P_ROL int 
AS
BEGIN
	
	SET NOCOUNT ON;
	--DECLARE @P_ROL int = 1
    SELECT P.ID
		,S.Descripcion
		,P.ID_Menu
	  ,P.[ID_Seccion]
      ,P.[ID_Rol]
      ,P.[Estado]
  FROM [DB_Servicios].[dbo].[TBL_GS_PERMISO] P
  inner join TBL_GS_SECCION S on P.ID_Seccion = S.ID
  where P.ID_Rol = @P_ROL;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_SEG_Seleccionar_Permiso_Por_Rol_Y_Menu]    Script Date: 3/13/2020 8:53:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Jozsef Jimenez 
-- Create date: <Create Date,,>
-- Description:	Selecciona los permisos que se tiene en un menu y rol especifico
-- =============================================
CREATE PROCEDURE [dbo].[SP_SEG_Seleccionar_Permiso_Por_Rol_Y_Menu]  
	@P_IdMenu INT,
	@P_IdRol INT,
	@P_Estado CHAR

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT P.ID
		  ,S.Descripcion
		  ,P.[ID_Seccion]
          ,P.[ID_Rol]
          ,P.[ID_Menu]
          ,P.[Estado]
          ,P.[Usuario_Creacion]
		  ,P.[Usuario_Modificacion]
		  ,P.[Fecha_Creacion]
		  ,P.[Fecha_Modificacion]
	FROM [dbo].[TBL_GS_PERMISO] P
	INNER JOIN [dbo].[TBL_GS_SECCION] S ON P.ID_Seccion = S.ID
	WHERE ID_Menu = @P_IdMenu AND ID_Rol = @P_IdRol AND P.Estado = @P_Estado  AND S.Estado = 'A'
END
GO
/****** Object:  StoredProcedure [dbo].[SP_SEG_Seleccionar_Roles_Activos]    Script Date: 3/13/2020 8:53:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Jozsef Jimenez Mendez
-- Create date: <Create Date,,->-
-- Description:	<Obtener roles activos del sistema>
-- =============================================
CREATE PROCEDURE [dbo].[SP_SEG_Seleccionar_Roles_Activos] 
AS
BEGIN
	SET NOCOUNT ON;

	SELECT 
		ID,
		Descripcion,
		Estado,
		Usuario_Creacion,
		Usuario_Modificacion,
		Fecha_Creacion,
		Fecha_Modificacion 
	FROM TBL_GS_ROL
	WHERE Estado = 'A';
END
GO
/****** Object:  StoredProcedure [dbo].[SP_SEG_Seleccionar_Usuarios]    Script Date: 3/13/2020 8:53:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Luis Ledezma>
-- Create date: <14-10-2019>
-- Description:	<Selecciona todos los usuarios del sistema>
-- =============================================
CREATE PROCEDURE [dbo].[SP_SEG_Seleccionar_Usuarios] 
	@P_Usuario_Consulta VARCHAR(250)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from

	DECLARE @es_Admin VARCHAR(250) = (SELECT Correo_Electronico 
									  FROM [dbo].[TBL_GS_USUARIO] 
									  WHERE Rol = 1 AND Correo_Electronico IN (@P_Usuario_Consulta))


	IF @es_Admin IS NOT NULL 
	BEGIN
		SELECT [ID]
		  ,[Usuario]
		  ,[Contrasenna]
		  ,[Nombre]
		  ,[Correo_Electronico]
		  ,[Telefono]
		  ,[Estado]
		  ,[Rol]
		  ,[Usuario_Creacion]
		  ,[Usuario_Modificacion]
		  ,[Fecha_Creacion]
		  ,[Fecha_Modificacion]
	  FROM [DB_Servicios].[dbo].[TBL_GS_USUARIO]
	END
	IF @es_Admin IS NULL
	BEGIN 
		SELECT [ID]
		  ,[Usuario]
		  ,[Contrasenna]
		  ,[Nombre]
		  ,[Correo_Electronico]
		  ,[Telefono]
		  ,[Estado]
		  ,[Rol]
		  ,[Usuario_Creacion]
		  ,[Usuario_Modificacion]
		  ,[Fecha_Creacion]
		  ,[Fecha_Modificacion]
		FROM [DB_Servicios].[dbo].[TBL_GS_USUARIO]
		WHERE Usuario_Creacion = @P_Usuario_Consulta;
	END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_SEG_SeleccionarInformacionUsuario]    Script Date: 3/13/2020 8:53:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Jozsef Jimenez
-- Create date: 05/10/2019
-- Description:	Selecciona el usuario con el que se esta iniciando sesion para validar si existe
-- =============================================
CREATE PROCEDURE [dbo].[SP_SEG_SeleccionarInformacionUsuario]
	@P_Correo_Electronico VARCHAR(250),
	@P_Contrasenna VARCHAR(max)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT U.ID
		  ,U.Usuario
		  ,U.Contrasenna
		  ,U.Nombre
		  ,U.Correo_Electronico
		  ,U.Telefono
		  ,U.Estado
		  ,U.Rol
		  ,U.Usuario_Creacion
		  ,U.Usuario_Modificacion
		  ,U.Fecha_Creacion
		  ,U.Fecha_Modificacion		
	FROM TBL_GS_USUARIO U 
	WHERE U.Correo_Electronico = @P_Correo_Electronico AND U.Contrasenna = @P_Contrasenna
END
GO
/****** Object:  StoredProcedure [dbo].[SP_SEG_SeleccionarMenuPorRol]    Script Date: 3/13/2020 8:53:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Jozsef Jimenez 
-- Create date: 05/10/2019
-- Description:	Selecciona los menus por rol
-- =============================================
CREATE PROCEDURE [dbo].[SP_SEG_SeleccionarMenuPorRol] 
	@P_Rol INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets FROM
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	SELECT DISTINCT M.[ID]
		  ,M.[Descripcion]
		  ,M.[Estado]
		  ,M.[Usuario_Creacion]
		  ,M.[Usuario_Modificacion]
		  ,M.[Fecha_Creacion]
		  ,M.[Fecha_Modificacion]
	FROM [dbo].[TBL_GS_MENU] M
	INNER JOIN TBL_GS_PERMISO P
	ON M.ID = P.ID_Menu
	INNER JOIN TBL_GS_SECCION S
	ON S.ID = P.ID_Seccion
	WHERE P.Estado = 'A' AND M.Estado = 'A'
	AND S.Estado = 'A' AND P.ID_Rol = @P_Rol;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_SEG_SeleccionarRol]    Script Date: 3/13/2020 8:53:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Luis Ledezma>
-- Create date: <Create Date,,->-
-- Description:	<Obtener roles del sistema>
-- =============================================
CREATE PROCEDURE [dbo].[SP_SEG_SeleccionarRol] 
	@P_Usuario_Consulta VARCHAR(250)
AS
BEGIN
	SET NOCOUNT ON;

	DECLARE @es_Admin VARCHAR(250) = (SELECT Correo_Electronico 
									  FROM [dbo].[TBL_GS_USUARIO] 
									  WHERE Rol = 1 AND Correo_Electronico IN (@P_Usuario_Consulta))
	
	IF @es_Admin IS NOT NULL 
	BEGIN
		SELECT 
			ID,
			Descripcion,
			Estado,
			Usuario_Creacion,
			Usuario_Modificacion,
			Fecha_Creacion,
			Fecha_Modificacion 
		FROM TBL_GS_ROL;
	END
	IF @es_Admin IS NULL
	BEGIN 
		SELECT 
			ID,
			Descripcion,
			Estado,
			Usuario_Creacion,
			Usuario_Modificacion,
			Fecha_Creacion,
			Fecha_Modificacion 
		FROM TBL_GS_ROL
		WHERE Usuario_Creacion = @P_Usuario_Consulta;
	END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_SEG_SeleccionarRolPorId]    Script Date: 3/13/2020 8:53:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Jozsef Jimenez
-- Create date: <Create Date,,>
-- Description:	Selecciona el rol por Id
-- =============================================
CREATE PROCEDURE [dbo].[SP_SEG_SeleccionarRolPorId] 
	@P_Id_Rol INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT 
			ID,
			Descripcion,
			Estado,
			Usuario_Creacion,
			Usuario_Modificacion,
			Fecha_Creacion,
			Fecha_Modificacion 
		FROM TBL_GS_ROL
		WHERE ID = @P_Id_Rol;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_SEG_SeleccionarSeccionesPorRol]    Script Date: 3/13/2020 8:53:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Jozsef Jimenez
-- Create date: 05/10/2019
-- Description:	Seleccionar las secciones por el Rol del usuario
-- =============================================
CREATE PROCEDURE [dbo].[SP_SEG_SeleccionarSeccionesPorRol] 
	@P_Rol INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT P.ID_Seccion
		  ,P.ID_Rol
		  ,P.Estado
		  ,P.Usuario_Creacion
		  ,P.Usuario_Modificacion
		  ,P.Fecha_Creacion
		  ,P.Fecha_Modificacion
	FROM TBL_GS_PERMISO P
	WHERE P.ID_Rol = @P_Rol
END
GO

/****** Object:  StoredProcedure [dbo].[SP_ADM_EjecutarCierreMes]    Script Date: 3/13/2020 8:53:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Luis Ledezma>
-- Create date: <22-2-2020>
-- Description:	<Ejecuta el proceso de cierre de mes>
-- =============================================
CREATE PROCEDURE [dbo].[SP_ADM_EjecutarCierreMes]
	@P_ID_CONTRATO INT,
	@P_ID_Reporte INT OUTPUT,
	@P_Correo_Cliente VARCHAR(250) OUTPUT
AS
BEGIN
	BEGIN TRAN
	--Contrato
	

	Declare @HorasContratadas time(7)= (Select Horas_Contratadas from TBL_GS_CONTRATO where ID = @P_ID_CONTRATO),
			@HorasDisponibles time(7) = (Select Horas_Disponibles from TBL_GS_CONTRATO where ID = @P_ID_CONTRATO),
			@HorasConsumidas time(7) = (Select Horas_Consumidas from TBL_GS_CONTRATO where ID = @P_ID_CONTRATO),
			@HorasExcedidas time(7) = (Select Horas_Excedidas from TBL_GS_CONTRATO where ID = @P_ID_CONTRATO),
			@Cliente int = (Select Cliente from TBL_GS_CONTRATO where ID = @P_ID_CONTRATO),
			@Tiempo TIME(7) = '00:00:00.0000000',
			@CalcHorasDisponibles int = (Select sum(datediff(HOUR,0,Horas_Contratadas)+datediff(HOUR,0,Horas_Disponibles)) from dbo.TBL_GS_CONTRATO where ID = @P_ID_CONTRATO) ;
			

			UPDATE TBL_GS_CONTRATO SET
			Horas_Consumidas = @Tiempo,
			Horas_Disponibles = (Select CONVERT(time(7),(SELECT DATEADD(hh,@CalcHorasDisponibles,@Tiempo)))),
			Horas_Excedidas = @Tiempo
			where ID = @P_ID_CONTRATO;

	--Reporte
	Declare @Tipo_Reporte int = (Select ID from TBL_GS_TIPO_REPORTE where Descripcion = 'Facturar'),
			@Hora_Inicial datetime = (Select Convert(datetime,(select Convert(date,getdate()))));
			

	IF (Select datediff(HOUR,0,@HorasExcedidas)) > 0
	BEGIN
		Declare @Horas_Facturar decimal(5,1) = (select DATEPART(hh,@HorasExcedidas)),
		@Tarea_Estandar int = (Select ID from TBL_GS_TAREA_ESTANDAR where Descripcion = 'N/A');
		Declare @Hora_Final datetime =Convert(datetime,(select dateadd(hh,@Horas_Facturar,@Hora_Inicial))),
		@V_Correo_Cliente varchar(250),
		@V_ID_Reporte int;

		EXEC [dbo].[SP_ADM_Insertar_Reporte] @Cliente,@Tipo_Reporte,0,0,@P_ID_Contrato,0,0,@Hora_Inicial,@Hora_Final,@Horas_Facturar,@Tarea_Estandar,'Horas Excedidas','Horas Excedidas','P','SA',@V_ID_Reporte OUTPUT,@V_Correo_Cliente OUTPUT;


		SET @P_Correo_Cliente = (SELECT @V_Correo_Cliente);
		SET @P_ID_Reporte = (SELECT @V_ID_Reporte);

		UPDATE [DB_Servicios].[dbo].[TBL_GS_REPORTE]
		SET Estado = 'A'
		WHERE ID = @V_ID_Reporte;
		
		Exec [dbo].[SP_ADM_InsertarPedido] @V_ID_Reporte;  
		

		
	END
	COMMIT TRAN

END
GO
/****** Object:  StoredProcedure [dbo].[SP_ADM_Aprobacion_Reporte]    Script Date: 3/13/2020 8:53:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Jozsef Jimenez
-- Create date: <Create Date,,>
-- Description:	Hace la actualización de el reporte, horas para proyectos y contratos si es aprovado, y crea el pedido para los que son facturados.
-- =============================================
CREATE PROCEDURE [dbo].[SP_ADM_Aprobacion_Reporte]
	-- Add the parameters for the stored procedure here
	@P_ID_Reporte INT,
	@P_Estado CHAR(1)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	UPDATE [DB_Servicios].[dbo].[TBL_GS_REPORTE]
	SET Estado = @P_Estado,
		Correo_Respondido = 1
	WHERE ID = @P_ID_Reporte

	IF @P_Estado = 'A'
	BEGIN
		DECLARE @D1 DateTime=(SELECT Hora_Inicio FROM [DB_Servicios].[dbo].[TBL_GS_REPORTE] WHERE ID = @P_ID_Reporte),
				@D2 DateTime=(SELECT Hora_Final FROM [DB_Servicios].[dbo].[TBL_GS_REPORTE] WHERE ID = @P_ID_Reporte);
		DECLARE @P_Total_Horas TIME = (SELECT  CAST(@D2-@D1 AS TIME) as dif)
	
		DECLARE @Temp DATETIME = @P_Total_Horas

		DECLARE @es_Proyecto INT = (SELECT P.ID 
									FROM [DB_Servicios].[dbo].[TBL_GS_ETAPA_REPORTE] ER 
									INNER JOIN [DB_Servicios].[dbo].[TBL_GS_ETAPA_PROYECTO] EP ON EP.ID = ER.ID_Etapa
									INNER JOIN [DB_Servicios].[dbo].[TBL_GS_PROYECTO] P ON P.ID = EP.ID_Proyecto 
									WHERE ER.ID_Reporte = @P_ID_Reporte)

		DECLARE @P_ID_Etapa INT = (SELECT EP.ID 
									FROM [DB_Servicios].[dbo].[TBL_GS_ETAPA_REPORTE] ER 
									INNER JOIN [DB_Servicios].[dbo].[TBL_GS_ETAPA_PROYECTO] EP ON EP.ID = ER.ID_Etapa
									INNER JOIN [DB_Servicios].[dbo].[TBL_GS_PROYECTO] P ON P.ID = EP.ID_Proyecto 
									WHERE ER.ID_Reporte = @P_ID_Reporte)

		DECLARE @es_Contrato INT = (SELECT C.ID
									FROM [DB_Servicios].[dbo].[TBL_GS_CONTRATO_REPORTE] CR
									INNER JOIN  [DB_Servicios].[dbo].[TBL_GS_CONTRATO] C ON C.ID = CR.ID_Contrato
									WHERE CR.ID_Reporte = @P_ID_Reporte)

		DECLARE @es_Facturado INT = (SELECT R.ID from [dbo].[TBL_GS_REPORTE] R where R.ID = @P_ID_Reporte and R.ID_Tipo_Reporte = 3)

		-- SI EL FORMULARIO ES DE TIPO PROYECTO 
		IF @es_Proyecto IS NOT NULL
		BEGIN

			DECLARE @proyectoHoras DATETIME = (SELECT Horas_Invertidas FROM [dbo].[TBL_GS_PROYECTO] WHERE ID = @es_Proyecto)
			DECLARE @etapaHoras DATETIME = (SELECT Horas_Invertidas FROM [dbo].[TBL_GS_ETAPA_PROYECTO] WHERE ID = @P_ID_Etapa)

			IF @etapaHoras is null
			BEGIN
		
				SET @etapaHoras = '00:00:00'

			END

			IF @proyectoHoras is null
			BEGIN
		
				SET @proyectoHoras = '00:00:00'

			END

			-----------------------------------------------------------
			-------ACTUALIZA LAS HORAS DEL PROYECTO Y LA ETAPA---------
			UPDATE [dbo].[TBL_GS_PROYECTO]
			SET Horas_Invertidas =  (SELECT CAST(@proyectoHoras+@Temp AS TIME) as dif)
			WHERE ID = @es_Proyecto 
			UPDATE [dbo].[TBL_GS_ETAPA_PROYECTO]
			SET Horas_Invertidas = (SELECT CAST(@etapaHoras+@Temp AS TIME) as dif)
			WHERE ID = @P_ID_Etapa
		END
		-- SI EL FORMULARIO ES DE TIPO CONTRATO
		IF @es_Contrato IS NOT NULL
		BEGIN
			DECLARE @contratoHoras DATETIME = (SELECT Horas_Consumidas FROM [dbo].[TBL_GS_CONTRATO] WHERE ID = @es_Contrato)
			DECLARE @horasContra DATETIME = (SELECT Horas_Contratadas FROM [dbo].[TBL_GS_CONTRATO] WHERE ID = @es_Contrato)
			DECLARE @horasExcedidas DATETIME = (SELECT Horas_Excedidas FROM [dbo].[TBL_GS_CONTRATO] WHERE ID = @es_Contrato)
			DECLARE @horasDisponibles DATETIME = (SELECT Horas_Disponibles FROM [dbo].[TBL_GS_CONTRATO] WHERE ID = @es_Contrato)

			IF @contratoHoras is null
			BEGIN
		
				SET @contratoHoras = '00:00:00'

			END
			IF @horasContra is null
			BEGIN
		
				SET @horasContra = '00:00:00'

			END

			IF @horasExcedidas is null
			BEGIN
		
				SET @horasExcedidas = '00:00:00'

			END

			IF @horasDisponibles is null
			BEGIN
		
				SET @horasDisponibles = '00:00:00'

			END

			-----------------------------------------------------------
			-------ACTUALIZA LAS HORAS DEL PROYECTO Y LA ETAPA---------
			UPDATE [dbo].[TBL_GS_CONTRATO]
			SET Horas_Consumidas = (SELECT CAST(@contratoHoras+@Temp AS TIME) as dif)
			   ,Horas_Excedidas = IIF(@horasContra < @Temp, (SELECT CAST((@Temp-@horasContra)+@horasExcedidas AS TIME) as dif) , Horas_Excedidas)
			   ,Horas_Disponibles = IIF(@horasContra > @Temp, (SELECT CAST(@horasDisponibles+(@horasContra-@Temp) AS TIME) as dif) , '00:00:00')
			WHERE ID = @es_Contrato


			SET @contratoHoras = (SELECT Horas_Consumidas FROM [dbo].[TBL_GS_CONTRATO] WHERE ID = @es_Contrato)

			UPDATE [dbo].[TBL_GS_CONTRATO]
			SET Horas_Excedidas = IIF(@contratoHoras > @horasContra, (SELECT CAST(@contratoHoras-@horasContra AS TIME) as dif) , Horas_Excedidas)
			   ,Horas_Disponibles = IIF(@contratoHoras < @horasContra, (SELECT CAST(@horasContra-@contratoHoras AS TIME) as dif) , '00:00:00')
			WHERE ID = @es_Contrato
		
		END

		IF @es_Facturado IS NOT NULL
		BEGIN
			Exec [dbo].[SP_ADM_InsertarPedido] @P_ID_Reporte  
		END
	END
END
GO
USE [master]
GO




USE [DB_Servicios]
GO

SET IDENTITY_INSERT [dbo].[TBL_GS_PERMISO] ON 

INSERT [dbo].[TBL_GS_PERMISO] ([ID], [ID_Seccion], [ID_Rol], [ID_Menu], [Estado], [Usuario_Creacion], [Usuario_Modificacion], [Fecha_Creacion], [Fecha_Modificacion]) VALUES (1, 1, 1, 1, N'A', N'SA', N'SA', CAST(N'2019-11-20T22:19:52.460' AS DateTime), CAST(N'2020-03-13T00:00:00.000' AS DateTime))
INSERT [dbo].[TBL_GS_PERMISO] ([ID], [ID_Seccion], [ID_Rol], [ID_Menu], [Estado], [Usuario_Creacion], [Usuario_Modificacion], [Fecha_Creacion], [Fecha_Modificacion]) VALUES (2, 1, 1, 2, N'A', N'SA', N'SA', CAST(N'2019-11-20T22:19:52.460' AS DateTime), CAST(N'2019-11-20T22:19:52.460' AS DateTime))
INSERT [dbo].[TBL_GS_PERMISO] ([ID], [ID_Seccion], [ID_Rol], [ID_Menu], [Estado], [Usuario_Creacion], [Usuario_Modificacion], [Fecha_Creacion], [Fecha_Modificacion]) VALUES (3, 1, 1, 3, N'A', N'SA', N'SA', CAST(N'2019-11-20T22:19:52.460' AS DateTime), CAST(N'2019-11-20T22:19:52.460' AS DateTime))
SET IDENTITY_INSERT [dbo].[TBL_GS_PERMISO] OFF


