USE [master]
GO
/****** Object:  Database [SITSA-FE]    Script Date: 3/16/2020 6:35:26 PM ******/
CREATE DATABASE [SITSA-FE]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SITSA-FE', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\SITSA-FE.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SITSA-FE_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\SITSA-FE_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SITSA-FE].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SITSA-FE]
GO
/****** Object:  Schema [soluciones]    Script Date: 3/16/2020 6:35:26 PM ******/
CREATE SCHEMA [soluciones]
GO
/****** Object:  Table [soluciones].[ARTICULO]    Script Date: 3/16/2020 6:35:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [soluciones].[ARTICULO](
	[ARTICULO] [varchar](20) NULL,
	[PLANTILLA_SERIE] [varchar](4) NULL,
	[DESCRIPCION] [varchar](254) NULL,
	[CLASIFICACION_1] [varchar](12) NULL,
	[CLASIFICACION_2] [varchar](12) NULL,
	[CLASIFICACION_3] [varchar](12) NULL,
	[CLASIFICACION_4] [varchar](12) NULL,
	[CLASIFICACION_5] [varchar](12) NULL,
	[CLASIFICACION_6] [varchar](12) NULL,
	[FACTOR_CONVER_1] [decimal](28, 8) NULL,
	[FACTOR_CONVER_2] [decimal](28, 8) NULL,
	[FACTOR_CONVER_3] [decimal](28, 8) NULL,
	[FACTOR_CONVER_4] [decimal](28, 8) NULL,
	[FACTOR_CONVER_5] [decimal](28, 8) NULL,
	[FACTOR_CONVER_6] [decimal](28, 8) NULL,
	[TIPO] [varchar](1) NULL,
	[ORIGEN_CORP] [varchar](1) NULL,
	[PESO_NETO] [decimal](28, 8) NULL,
	[PESO_BRUTO] [decimal](28, 8) NULL,
	[VOLUMEN] [decimal](28, 8) NULL,
	[BULTOS] [smallint] NULL,
	[ARTICULO_CUENTA] [varchar](4) NULL,
	[IMPUESTO] [varchar](4) NULL,
	[FACTOR_EMPAQUE] [decimal](28, 8) NULL,
	[FACTOR_VENTA] [decimal](28, 8) NULL,
	[EXISTENCIA_MINIMA] [decimal](28, 8) NULL,
	[EXISTENCIA_MAXIMA] [decimal](28, 8) NULL,
	[PUNTO_DE_REORDEN] [decimal](28, 8) NULL,
	[COSTO_FISCAL] [varchar](1) NULL,
	[COSTO_COMPARATIVO] [varchar](1) NULL,
	[COSTO_PROM_LOC] [decimal](28, 8) NULL,
	[COSTO_PROM_DOL] [decimal](28, 8) NULL,
	[COSTO_STD_LOC] [decimal](28, 8) NULL,
	[COSTO_STD_DOL] [decimal](28, 8) NULL,
	[COSTO_ULT_LOC] [decimal](28, 8) NULL,
	[COSTO_ULT_DOL] [decimal](28, 8) NULL,
	[PRECIO_BASE_LOCAL] [decimal](28, 8) NULL,
	[PRECIO_BASE_DOLAR] [decimal](28, 8) NULL,
	[ULTIMA_SALIDA] [datetime] NULL,
	[ULTIMO_MOVIMIENTO] [datetime] NULL,
	[ULTIMO_INGRESO] [datetime] NULL,
	[ULTIMO_INVENTARIO] [datetime] NULL,
	[CLASE_ABC] [varchar](1) NULL,
	[FRECUENCIA_CONTEO] [smallint] NULL,
	[CODIGO_BARRAS_VENT] [varchar](20) NULL,
	[CODIGO_BARRAS_INVT] [varchar](20) NULL,
	[ACTIVO] [varchar](1) NULL,
	[USA_LOTES] [varchar](1) NULL,
	[OBLIGA_CUARENTENA] [varchar](1) NULL,
	[MIN_VIDA_COMPRA] [smallint] NULL,
	[MIN_VIDA_CONSUMO] [smallint] NULL,
	[MIN_VIDA_VENTA] [smallint] NULL,
	[VIDA_UTIL_PROM] [smallint] NULL,
	[DIAS_CUARENTENA] [smallint] NULL,
	[PROVEEDOR] [varchar](20) NULL,
	[ARTICULO_DEL_PROV] [varchar](20) NULL,
	[ORDEN_MINIMA] [decimal](28, 8) NULL,
	[PLAZO_REABAST] [smallint] NULL,
	[LOTE_MULTIPLO] [decimal](28, 8) NULL,
	[NOTAS] [text] NULL,
	[UTILIZADO_MANUFACT] [varchar](1) NULL,
	[USUARIO_CREACION] [varchar](10) NULL,
	[FCH_HORA_CREACION] [datetime] NULL,
	[USUARIO_ULT_MODIF] [varchar](10) NULL,
	[FCH_HORA_ULT_MODIF] [datetime] NULL,
	[USA_NUMEROS_SERIE] [varchar](1) NULL,
	[MODALIDAD_INV_FIS] [varchar](1) NULL,
	[TIPO_COD_BARRA_DET] [varchar](1) NULL,
	[TIPO_COD_BARRA_ALM] [varchar](1) NULL,
	[USA_REGLAS_LOCALES] [varchar](1) NULL,
	[UNIDAD_ALMACEN] [varchar](6) NULL,
	[UNIDAD_EMPAQUE] [varchar](6) NULL,
	[UNIDAD_VENTA] [varchar](6) NULL,
	[PERECEDERO] [varchar](1) NULL,
	[GTIN] [varchar](13) NULL,
	[MANUFACTURADOR] [varchar](35) NULL,
	[CODIGO_RETENCION] [varchar](4) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [soluciones].[CLIENTE]    Script Date: 3/16/2020 6:35:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [soluciones].[CLIENTE](
	[CLIENTE] [varchar](20) NULL,
	[NOMBRE] [varchar](80) NULL,
	[DETALLE_DIRECCION] [int] NULL,
	[ALIAS] [varchar](80) NULL,
	[CONTACTO] [varchar](30) NULL,
	[CARGO] [varchar](30) NULL,
	[DIRECCION] [text] NULL,
	[DIR_EMB_DEFAULT] [varchar](8) NULL,
	[TELEFONO1] [varchar](15) NULL,
	[TELEFONO2] [varchar](15) NULL,
	[FAX] [varchar](15) NULL,
	[CONTRIBUYENTE] [varchar](20) NULL,
	[FECHA_INGRESO] [datetime] NULL,
	[MULTIMONEDA] [varchar](1) NULL,
	[MONEDA] [varchar](4) NULL,
	[SALDO] [decimal](28, 8) NULL,
	[SALDO_LOCAL] [decimal](28, 8) NULL,
	[SALDO_DOLAR] [decimal](28, 8) NULL,
	[SALDO_CREDITO] [decimal](28, 8) NULL,
	[SALDO_NOCARGOS] [decimal](28, 8) NULL,
	[LIMITE_CREDITO] [decimal](28, 8) NULL,
	[EXCEDER_LIMITE] [varchar](1) NULL,
	[TASA_INTERES] [decimal](28, 8) NULL,
	[TASA_INTERES_MORA] [decimal](28, 8) NULL,
	[FECHA_ULT_MORA] [datetime] NULL,
	[FECHA_ULT_MOV] [datetime] NULL,
	[CONDICION_PAGO] [varchar](4) NULL,
	[NIVEL_PRECIO] [varchar](12) NULL,
	[DESCUENTO] [decimal](28, 8) NULL,
	[MONEDA_NIVEL] [varchar](1) NULL,
	[ACEPTA_BACKORDER] [varchar](1) NULL,
	[PAIS] [varchar](4) NULL,
	[ZONA] [varchar](4) NULL,
	[RUTA] [varchar](4) NULL,
	[VENDEDOR] [varchar](4) NULL,
	[COBRADOR] [varchar](4) NULL,
	[ACEPTA_FRACCIONES] [varchar](1) NULL,
	[ACTIVO] [varchar](1) NULL,
	[EXENTO_IMPUESTOS] [varchar](1) NULL,
	[EXENCION_IMP1] [decimal](28, 8) NULL,
	[EXENCION_IMP2] [decimal](28, 8) NULL,
	[COBRO_JUDICIAL] [varchar](1) NULL,
	[CATEGORIA_CLIENTE] [varchar](8) NULL,
	[CLASE_ABC] [varchar](1) NULL,
	[DIAS_ABASTECIMIEN] [smallint] NULL,
	[USA_TARJETA] [varchar](1) NULL,
	[TARJETA_CREDITO] [varchar](20) NULL,
	[TIPO_TARJETA] [varchar](12) NULL,
	[FECHA_VENCE_TARJ] [datetime] NULL,
	[E_MAIL] [varchar](249) NULL,
	[REQUIERE_OC] [varchar](1) NULL,
	[ES_CORPORACION] [varchar](1) NULL,
	[CLI_CORPORAC_ASOC] [varchar](20) NULL,
	[REGISTRARDOCSACORP] [varchar](1) NULL,
	[USAR_DIREMB_CORP] [varchar](1) NULL,
	[APLICAC_ABIERTAS] [varchar](1) NULL,
	[VERIF_LIMCRED_CORP] [varchar](1) NULL,
	[USAR_DESC_CORP] [varchar](1) NULL,
	[DOC_A_GENERAR] [varchar](1) NULL,
	[RUBRO1_CLIENTE] [varchar](40) NULL,
	[RUBRO2_CLIENTE] [varchar](40) NULL,
	[RUBRO3_CLIENTE] [varchar](40) NULL,
	[TIENE_CONVENIO] [varchar](1) NULL,
	[NOTAS] [text] NULL,
	[DIAS_PROMED_ATRASO] [smallint] NULL,
	[RUBRO1_CLI] [varchar](50) NULL,
	[RUBRO2_CLI] [varchar](50) NULL,
	[RUBRO3_CLI] [varchar](50) NULL,
	[RUBRO4_CLI] [varchar](50) NULL,
	[RUBRO5_CLI] [varchar](50) NULL,
	[ASOCOBLIGCONTFACT] [varchar](1) NULL,
	[RUBRO4_CLIENTE] [varchar](40) NULL,
	[RUBRO5_CLIENTE] [varchar](40) NULL,
	[RUBRO6_CLIENTE] [varchar](40) NULL,
	[RUBRO7_CLIENTE] [varchar](40) NULL,
	[RUBRO8_CLIENTE] [varchar](40) NULL,
	[RUBRO9_CLIENTE] [varchar](40) NULL,
	[RUBRO10_CLIENTE] [varchar](40) NULL,
	[USAR_PRECIOS_CORP] [varchar](1) NULL,
	[USAR_EXENCIMP_CORP] [varchar](1) NULL,
	[DIAS_DE_COBRO] [varchar](13) NULL,
	[AJUSTE_FECHA_COBRO] [varchar](1) NULL,
	[GLN] [varchar](13) NULL,
	[UBICACION] [varchar](10) NULL,
	[CLASE_DOCUMENTO] [varchar](1) NULL,
	[LOCAL] [varchar](1) NULL,
	[TIPO_CONTRIBUYENTE] [varchar](1) NULL,
	[RUBRO11_CLIENTE] [varchar](40) NULL,
	[RUBRO12_CLIENTE] [varchar](40) NULL,
	[RUBRO13_CLIENTE] [varchar](40) NULL,
	[RUBRO14_CLIENTE] [varchar](40) NULL,
	[RUBRO15_CLIENTE] [varchar](40) NULL,
	[RUBRO16_CLIENTE] [varchar](40) NULL,
	[RUBRO17_CLIENTE] [varchar](40) NULL,
	[RUBRO18_CLIENTE] [varchar](40) NULL,
	[RUBRO19_CLIENTE] [varchar](40) NULL,
	[RUBRO20_CLIENTE] [varchar](40) NULL,
	[MODELO_RETENCION] [varchar](4) NULL,
	[ACEPTA_DOC_ELECTRONICO] [varchar](1) NULL,
	[CONFIRMA_DOC_ELECTRONICO] [varchar](1) NULL,
	[EMAIL_DOC_ELECTRONICO] [varchar](40) NULL,
	[EMAIL_PED_EDI] [varchar](249) NULL,
	[ACEPTA_DOC_EDI] [varchar](1) NULL,
	[NOTIFICAR_ERROR_EDI] [varchar](1) NULL,
	[EMAIL_ERROR_PED_EDI] [varchar](249) NULL,
	[CODIGO_IMPUESTO] [varchar](4) NULL,
	[DIVISION_GEOGRAFICA1] [varchar](12) NULL,
	[DIVISION_GEOGRAFICA2] [varchar](12) NULL,
	[DIVISION_GEOGRAFICA3] [varchar](12) NULL,
	[DIVISION_GEOGRAFICA4] [varchar](12) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [soluciones].[CONSECUTIVO_FA]    Script Date: 3/16/2020 6:35:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [soluciones].[CONSECUTIVO_FA](
	[CODIGO_CONSECUTIVO] [varchar](10) NULL,
	[USUARIO_ULT] [varchar](10) NULL,
	[DESCRIPCION] [varchar](40) NULL,
	[TIPO] [varchar](1) NULL,
	[LONGITUD] [smallint] NULL,
	[VALOR_CONSECUTIVO] [varchar](20) NULL,
	[MASCARA] [varchar](20) NULL,
	[FECHA_HORA_ULT] [datetime] NULL,
	[FORMATO] [varchar](250) NULL,
	[USA_DESPACHOS] [varchar](1) NULL,
	[USA_ESQUEMA_CAJAS] [varchar](1) NULL,
	[VALOR_MAXIMO] [varchar](20) NULL,
	[NUMERO_COPIAS] [int] NULL,
	[ORIGINAL] [varchar](30) NULL,
	[COPIA1] [varchar](30) NULL,
	[COPIA2] [varchar](30) NULL,
	[COPIA3] [varchar](30) NULL,
	[COPIA4] [varchar](30) NULL,
	[COPIA5] [varchar](30) NULL,
	[REIMPRESION] [varchar](30) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [soluciones].[PEDIDO]    Script Date: 3/16/2020 6:35:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [soluciones].[PEDIDO](
	[PEDIDO] [varchar](20) NULL,
	[ESTADO] [varchar](1) NULL,
	[FECHA_PEDIDO] [datetime] NULL,
	[FECHA_PROMETIDA] [datetime] NULL,
	[FECHA_PROX_EMBARQU] [datetime] NULL,
	[FECHA_ULT_EMBARQUE] [datetime] NULL,
	[FECHA_ULT_CANCELAC] [datetime] NULL,
	[ORDEN_COMPRA] [varchar](30) NULL,
	[FECHA_ORDEN] [datetime] NULL,
	[TARJETA_CREDITO] [varchar](20) NULL,
	[EMBARCAR_A] [varchar](80) NULL,
	[DIREC_EMBARQUE] [varchar](8) NULL,
	[DIRECCION_FACTURA] [varchar](4000) NULL,
	[RUBRO1] [varchar](50) NULL,
	[RUBRO2] [varchar](50) NULL,
	[RUBRO3] [varchar](50) NULL,
	[RUBRO4] [varchar](50) NULL,
	[RUBRO5] [varchar](50) NULL,
	[OBSERVACIONES] [text] NULL,
	[COMENTARIO_CXC] [varchar](40) NULL,
	[TOTAL_MERCADERIA] [decimal](28, 8) NULL,
	[MONTO_ANTICIPO] [decimal](28, 8) NULL,
	[MONTO_FLETE] [decimal](28, 8) NULL,
	[MONTO_SEGURO] [decimal](28, 8) NULL,
	[MONTO_DOCUMENTACIO] [decimal](28, 8) NULL,
	[TIPO_DESCUENTO1] [varchar](1) NULL,
	[TIPO_DESCUENTO2] [varchar](1) NULL,
	[MONTO_DESCUENTO1] [decimal](28, 8) NULL,
	[MONTO_DESCUENTO2] [decimal](28, 8) NULL,
	[PORC_DESCUENTO1] [decimal](28, 8) NULL,
	[PORC_DESCUENTO2] [decimal](28, 8) NULL,
	[TOTAL_IMPUESTO1] [decimal](28, 8) NULL,
	[TOTAL_IMPUESTO2] [decimal](28, 8) NULL,
	[TOTAL_A_FACTURAR] [decimal](28, 8) NULL,
	[PORC_COMI_VENDEDOR] [decimal](28, 8) NULL,
	[PORC_COMI_COBRADOR] [decimal](28, 8) NULL,
	[TOTAL_CANCELADO] [decimal](28, 8) NULL,
	[TOTAL_UNIDADES] [decimal](28, 8) NULL,
	[IMPRESO] [varchar](1) NULL,
	[FECHA_HORA] [datetime] NULL,
	[DESCUENTO_VOLUMEN] [decimal](28, 8) NULL,
	[TIPO_PEDIDO] [varchar](1) NULL,
	[MONEDA_PEDIDO] [varchar](1) NULL,
	[VERSION_NP] [int] NULL,
	[AUTORIZADO] [varchar](1) NULL,
	[DOC_A_GENERAR] [varchar](1) NULL,
	[CLASE_PEDIDO] [varchar](1) NULL,
	[MONEDA] [varchar](1) NULL,
	[NIVEL_PRECIO] [varchar](12) NULL,
	[COBRADOR] [varchar](4) NULL,
	[RUTA] [varchar](4) NULL,
	[USUARIO] [varchar](10) NULL,
	[CONDICION_PAGO] [varchar](4) NULL,
	[BODEGA] [varchar](4) NULL,
	[ZONA] [varchar](4) NULL,
	[VENDEDOR] [varchar](4) NULL,
	[CLIENTE] [varchar](20) NULL,
	[CLIENTE_DIRECCION] [varchar](20) NULL,
	[CLIENTE_CORPORAC] [varchar](20) NULL,
	[CLIENTE_ORIGEN] [varchar](20) NULL,
	[PAIS] [varchar](4) NULL,
	[SUBTIPO_DOC_CXC] [smallint] NULL,
	[TIPO_DOC_CXC] [varchar](3) NULL,
	[BACKORDER] [varchar](1) NULL,
	[CONTRATO] [varchar](20) NULL,
	[PORC_INTCTE] [decimal](28, 8) NULL,
	[DESCUENTO_CASCADA] [varchar](1) NULL,
	[TIPO_CAMBIO] [decimal](28, 8) NULL,
	[FIJAR_TIPO_CAMBIO] [varchar](1) NULL,
	[ORIGEN_PEDIDO] [varchar](1) NULL,
	[DESC_DIREC_EMBARQUE] [varchar](250) NULL,
	[CreatedBy] [varchar](50) NULL,
	[UpdatedBy] [varchar](50) NULL,
	[CreateDate] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [soluciones].[PEDIDO_LINEA]    Script Date: 3/16/2020 6:35:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [soluciones].[PEDIDO_LINEA](
	[PEDIDO] [varchar](20) NULL,
	[PEDIDO_LINEA] [smallint] NULL,
	[BODEGA] [varchar](4) NULL,
	[LOTE] [varchar](15) NULL,
	[LOCALIZACION] [varchar](8) NULL,
	[ARTICULO] [varchar](20) NULL,
	[ESTADO] [varchar](1) NULL,
	[FECHA_ENTREGA] [datetime] NULL,
	[LINEA_USUARIO] [smallint] NULL,
	[PRECIO_UNITARIO] [decimal](28, 8) NULL,
	[CANTIDAD_PEDIDA] [decimal](28, 8) NULL,
	[CANTIDAD_A_FACTURA] [decimal](28, 8) NULL,
	[CANTIDAD_FACTURADA] [decimal](28, 8) NULL,
	[CANTIDAD_RESERVADA] [decimal](28, 8) NULL,
	[CANTIDAD_BONIFICAD] [decimal](28, 8) NULL,
	[CANTIDAD_CANCELADA] [decimal](28, 8) NULL,
	[TIPO_DESCUENTO] [varchar](1) NULL,
	[MONTO_DESCUENTO] [decimal](28, 8) NULL,
	[PORC_DESCUENTO] [decimal](28, 8) NULL,
	[DESCRIPCION] [text] NULL,
	[COMENTARIO] [varchar](100) NULL,
	[PEDIDO_LINEA_BONIF] [smallint] NULL,
	[UNIDAD_DISTRIBUCIO] [varchar](6) NULL,
	[FECHA_PROMETIDA] [datetime] NULL,
	[LINEA_ORDEN_COMPRA] [int] NULL,
	[CreatedBy] [varchar](50) NULL,
	[UpdatedBy] [varchar](50) NULL,
	[CreateDate] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [soluciones].[CONSECUTIVO_FA] ([CODIGO_CONSECUTIVO], [USUARIO_ULT], [DESCRIPCION], [TIPO], [LONGITUD], [VALOR_CONSECUTIVO], [MASCARA], [FECHA_HORA_ULT], [FORMATO], [USA_DESPACHOS], [USA_ESQUEMA_CAJAS], [VALOR_MAXIMO], [NUMERO_COPIAS], [ORIGINAL], [COPIA1], [COPIA2], [COPIA3], [COPIA4], [COPIA5], [REIMPRESION]) VALUES (N'PE', N'SA', N'PEDIDO', N'N', 6, N'000001', N'999999', NULL, N'PEDIDO.rpt
', NULL, NULL, NULL, 0, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
ALTER TABLE [soluciones].[CLIENTE] ADD  CONSTRAINT [DF__CLIENTE__LOCAL__3C69FB99]  DEFAULT ('S') FOR [LOCAL]
GO
ALTER TABLE [soluciones].[CLIENTE] ADD  CONSTRAINT [DF__CLIENTE__ACEPTA___3D5E1FD2]  DEFAULT ('N') FOR [ACEPTA_DOC_ELECTRONICO]
GO
ALTER TABLE [soluciones].[CLIENTE] ADD  CONSTRAINT [DF__CLIENTE__CONFIRM__3E52440B]  DEFAULT ('N') FOR [CONFIRMA_DOC_ELECTRONICO]
GO
ALTER TABLE [soluciones].[CLIENTE] ADD  CONSTRAINT [DF__CLIENTE__ACEPTA___3F466844]  DEFAULT ('N') FOR [ACEPTA_DOC_EDI]
GO
ALTER TABLE [soluciones].[CLIENTE] ADD  CONSTRAINT [DF__CLIENTE__NOTIFIC__403A8C7D]  DEFAULT ('N') FOR [NOTIFICAR_ERROR_EDI]
GO
ALTER TABLE [soluciones].[CONSECUTIVO_FA] ADD  DEFAULT ((0)) FOR [NUMERO_COPIAS]
GO
ALTER TABLE [soluciones].[PEDIDO] ADD  DEFAULT ('F') FOR [ORIGEN_PEDIDO]
GO
ALTER TABLE [soluciones].[PEDIDO] ADD  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [soluciones].[PEDIDO_LINEA] ADD  DEFAULT (getdate()) FOR [CreateDate]
GO
USE [master]
GO
