<div id="bmd-drawer" class="bmd-layout-container bmd-drawer-f-l" style="overflow: scroll;">
  <header class="bmd-layout-header ">
    <div class="navbar navbar-light bg-dark">
      <button class="navbar-toggler btn btn-light ham-button " type="button" data-toggle="drawer" type="button" data-target="#Open">
        <span class="sr-only">Toggle drawer</span>
        <i class="material-icons">menu</i>
      </button>
      <ul class="float-left" style="text-decoration: none; list-style: none;">
        <li><img width="100" height="50" src="../../assets/img/logo.jpeg" alt="Logo de la empresa"></li>
      </ul>
      <ul class="nav navbar-nav">
        <li class="nav-item">
          <button class="btn btn-raised btn-danger" (click)="logout($event)">
            <i class="material-icons">exit_to_app</i>Cerrar Sesión
          </button>
        </li>
      </ul>
    </div>
  </header>
  <div id="Open" class="bmd-layout-drawer bg-faded">
    <header>
      <a *ngIf="_userInfo" class="navbar-brand navbar-text">  
        {{ _userInfo[0] }}
      </a>
      <p style="font-size: .75rem;color: #999;text-align:left; padding-left: 2em;" *ngIf="rol">{{ rol.Descripcion }}</p>
    </header>
    <ul class="list-group menu-items">
      <ng-container *ngFor="let item of menus">
        <ng-container>
          <span [ngSwitch]="item.ID">
            <li *ngSwitchCase="1">

              <a class="list-group-item btn" [routerLink]="['/backend/mantRol']">
                {{item.Descripcion}}
              </a>

            </li>
            <li *ngSwitchCase="2">

              <a class="list-group-item btn" [routerLink]="['/backend/mantUsuario']">
                {{item.Descripcion}}
              </a>
            </li>
            <li *ngSwitchCase="3">

              <a class="list-group-item btn" [routerLink]="['/backend/permisosSistema']">
                {{item.Descripcion}}
              </a>
            </li>
            <li *ngSwitchCase="4">

              <a class="list-group-item btn" [routerLink]="['/backend/parametrosSistema']">
                {{item.Descripcion}}
              </a>
            </li>
            <li *ngSwitchCase="5">

              <a class="list-group-item btn" [routerLink]="['/backend/tareasEstandar']">
                {{item.Descripcion}}
              </a>
            </li>
            <li *ngSwitchCase="6">

              <a class="list-group-item btn" [routerLink]="['/backend/proyectos']">
                {{item.Descripcion}}
              </a>
            </li>
            <li *ngSwitchCase="7">

              <a class="list-group-item btn" [routerLink]="['/backend/contratos']">
                {{item.Descripcion}}
              </a>
            </li>
            <li *ngSwitchCase="8">

              <a class="list-group-item btn" [routerLink]="['/backend/formularios']">
                {{item.Descripcion}}
              </a>
            </li>
            <li *ngSwitchCase="9">

              <a class="list-group-item btn" [routerLink]="['/backend/etapasProyecto']">
                {{item.Descripcion}}
              </a>
            </li>
            <li *ngSwitchCase="10">

              <a class="list-group-item btn" [routerLink]="['/backend/clientes']">
                {{item.Descripcion}}
              </a>
            </li>
            <li *ngSwitchCase="11">

              <a class="list-group-item btn" [routerLink]="['/backend/garantias']">
                {{item.Descripcion}}
              </a>
            </li>
            <p *ngSwitchDefault>

            </p>
          </span>
        </ng-container>
      </ng-container>
    </ul>
  </div>

  <div class="bmd-layout-content">
    <main class="container">
      <router-outlet></router-outlet>
    </main>
  </div>
  <div>
    <div>
      <button data-toggle="modal" data-target="#modalMessage" title="Ayuda" style="float: right !important;right: 1em !important;" type="button" class="btn btn-info bmd-btn-fab"  >
        <i class="material-icons">live_help</i>
      </button>
    </div>
    <div class="modal fade" id="modalMessage" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalTitle">Ayuda</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <div class="alert alert-info" role="alert">
                  ¿Desea descargar el manual de usuario?.
                </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-raised btn-warning" data-dismiss="modal"><i class="material-icons">close</i>Cerrar</button>
            <a target="_self" href="../../assets/files/ManualUsuario.pdf" download class="btn btn-raised btn-success m-1">
              <i class="material-icons">file_download</i>descargar
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer>
    <!-- <p>Diseñado por: Jozsef y Luis</p> -->
    <p style="font-size: 11px;color: #999;text-align: center; margin-top: 25px;">V1.0.0</p>
  </footer>

</div>





<!-- USE FOR CONFIRMATION DIALOG -->
<!-- <p-confirmDialog [baseZIndex]="10000"></p-confirmDialog>
   -->
<!-- GENERICS MSJ -->
<!-- <p-toast [baseZIndex]="9999" [style]="{marginTop: '3%'}"></p-toast> -->