.bmd-drawer-f-l > .bmd-layout-drawer{
    width: 330px;
    transform: translateX(-330px);
}

:not(.bmd-drawer-out).bmd-drawer-in.bmd-drawer-f-l > .bmd-layout-drawer{
    transform: translateX(0);
}

.ham-button{
    border: 1px solid white !important;
}

.menu-items li{
    padding: 0.5em !important;
    font-size: 1.25rem !important;
}

:not(.bmd-drawer-out).bmd-drawer-in.bmd-drawer-f-l > .bmd-layout-header {
    width: calc(100% - 330px) !important;
    margin-left: 330px !important;
}

:not(.bmd-drawer-out).bmd-drawer-in.bmd-drawer-f-l > .bmd-layout-content {
    margin-left: 330px;
}

.bmd-layout-content {
    z-index: unset !important;
}

