.main-nav {
    position: fixed;
    top: 60px;
    bottom: 0;
    left: 0;
    z-index: 2000;
    width: 250px;
    padding: 0.5rem 5px;
    overflow-y: auto;
    background-color: #292B2C;
    -webkit-transition: all 2s ease;
    /* Safari */
    transition: all 2s ease;
    flex-flow: column !important;
}

.sessionUser {
    color: #FFF;
    font-size: 18px;
    font-family: 'Oswald', sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    z-index: 5000;
    background-color: #40474e !important;
}

.sessionUser button.btn-danger {
    float: right;
    margin: 14px 15px 0 0;
}

.sessionUser button.btn-secondary {
    float: left;
    display: none;
    margin: 10px 15px 0 15px;
}

.sessionUser .navbar-text {
    padding: 0;
    color: #FFF;
    float: left;
    line-height: 60px;
    margin-left: 15px;
}

.main-nav .navbar-nav {
    -ms-flex-direction: column;
    flex-direction: column;
}

.main-nav .navbar-brand {
    color: #FFF;
}

.main-nav .nav-item {
    border-bottom: 1px solid #323435;
    border-top: 1px solid #212121;
    padding: 10px 0;
}

.main-nav .nav-item:first-child {
    border-top: none;
}

.main-nav .nav-item i.fa {
    width: 28px;
    padding: 5px;
    text-align: center;
    border-radius: 3px;
    margin-right: 5px;
    background: #444;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.4);
}

.main-nav .navbar-nav .nav-link {
    color: #FFF;
    font-family: 'Oswald', sans-serif;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    /* Safari */
}

.main-nav .nav-item.active .nav-link,
.main-nav .nav-item:hover .nav-link {
    color: #aedcb8;
}

nav.navbar1 .dropdown-menu {
    position: static;
    background-color: transparent;
    border: none;
}

nav.navbar1 .dropdown-item {
    color: #FFF;
    padding: 0.25rem 10px 0.25rem 44px;
    font-family: 'Oswald', sans-serif;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    /* Safari */
}

nav.navbar1 .dropdown-item:hover,
nav.navbar1 .dropdown-item:focus {
    background-color: rgba(0, 0, 0, .3);
}

.dropdown-toggle::after {
    float: right;
    margin-right: 15px;
    margin-top: 11px;
}


/* ---- NAV REPONSIVE BEHAVIOUR ---- */

@media (max-width: 1024px) {
    .main-nav {
        left: -250px;
    }
    .main-nav.status2 {
        left: 0;
    }
    .sessionUser .navbar-text {
        margin-left: 0;
    }
    .sessionUser button.btn-secondary {
        display: inline-block;
    }
    .navbar-expand-xl .navbar-collapse {
        margin-top: 0;
    }
    .navbar-collapse.collapse,
    .navbar-collapse.collapsing {
        position: fixed;
        top: 60px;
        left: -250px;
        bottom: 0;
        width: 250px !important;
        padding: 0.5rem;
        background-color: #292B2C;
        transition: all .75s ease;
        -webkit-transition: all .75s ease;
        /* Safari */
    }
    .navbar-collapse.collapse.show {
        left: 0;
        z-index: 2000;
        overflow-y: auto;
    }
}

.navbar-expand-xl {
    overflow-y: auto !important;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
    position: absolute;
}