<div class="container pt-5">
    <div class="row ">
        <h1>Permisos del Sistema</h1>
        <div class="col-md-12 m-1">
            <div class="col-md-3">
                <label for="roles">Rol</label>
                <select class="custom-select" id="roles">
                    <option>Administrador</option>
                    <option>RRHH</option>
                </select>
            </div>
            <div class="col-md-3">
                <label for="menus">Menú</label>
                <select class="custom-select" id="menus">
                    <option>Mantenimiento de Usuarios</option>
                    <option>Mantenimiento de Roles</option>
                </select>
            </div>
        </div>
        <div class="col-md-12 table-responsive">
            <table class="table table-striped table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Seccion</th>
                        <th scope="col">Valor</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Lista</th>
                        <td><input type="checkbox" name="lista" id="check1" /></td>
                    </tr>
                    <tr>
                        <th scope="row">Agregar</th>
                        <td><input type="checkbox" name="lista" id="check1" /></td>
                    </tr>
                    <tr>
                        <th scope="row">Editar</th>
                        <td><input type="checkbox" name="lista" id="check1" /></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>