<div class="container pt-5">
    <h1>Permisos del Sistema</h1>
    <div class="row m-1">


        <div class="col-md-3 offset-3">
            <label for="roles">Rol</label><br>
            <p-dropdown [options]="roles" [(ngModel)]="rol" (onChange)="GetPermisosPorRolyMenu();" placeholder="Select a Rol" optionLabel="Descripcion" [showClear]="true"></p-dropdown>
            <!-- <select class="custom-select" id="roles">
                <option>Administrador</option>
                <option>RRHH</option>
            </select> -->
        </div>
        <div class="col-md-3">
            <label for="menus">Menú</label><br>
            <p-dropdown [options]="menus" [(ngModel)]="menu" (onChange)="GetPermisosPorRolyMenu();" placeholder="Select a Menu" optionLabel="Descripcion" [showClear]="true"></p-dropdown>
            <!-- <select class="custom-select" id="menus">
                <option>Mantenimiento de Usuarios</option>
                <option>Mantenimiento de Roles</option>
            </select> -->
        </div>
    </div>
    <ng-container *ngIf="settingPermiso">
        <div class="row mt-3">
            <div class="col-md-8 offset-2 table-responsive">
                <p-pickList [source]="settingPermiso.Source" [responsive]="true" [target]="settingPermiso.Target" sourceHeader="Available" targetHeader="Selected" [responsive]="true" filterBy="_setting.Target" dragdrop="true" sourceFilterPlaceholder="Search " targetFilterPlaceholder="Search "
                    [sourceStyle]="{'height':'300px'}" [targetStyle]="{'height':'300px'}">
                    <ng-template let-permiso pTemplate="item">
                        <div class="ui-helper-clearfix">

                            <div style="font-size:14px;float:right;margin:15px 5px 0 0">{{permiso.Descripcion_Seccion}}</div>
                        </div>
                    </ng-template>
                </p-pickList>
            </div>
        </div>
    </ng-container>
    <div class="row offset-2">
        <button class="btn btn-success" (click)="UpdatePermisosLists();"> Actualizar </button>
    </div>


</div>